.layout {
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    #cake-gift {
        list-style: none;
        margin: 15px 0 30px 15px;

        li {
            position: relative;
            width: 100%;
            height: 102px;
            margin: 10px 0;

            a {
                display: block;
                width: 102px;
                height: 102px;
            }

            p:nth-of-type(1) {
                position: absolute;
                top: 0;
                left: 120px;
                color: #505050;

                span:first-child {
                    font-size: 22px;
                }

                span:last-child {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }

            p:nth-of-type(2) {
                position: absolute;
                left: 120px;
                top: 35px;
                font-size: 18px;
                color: #e3e3e3;
            }

            p:nth-of-type(3) {
                position: absolute;
                bottom: 0;
                left: 120px;
                color: #505050;

                span:first-child {
                    font-size: 22px;
                }

                span:last-child {
                    font-size: 16px;
                }
            }
        }
    }

    > p {
        width: 716px;
        margin: 20px auto;
        text-align: center ;
        color: #e9546b;
        font-size: 20px;/*px*/
    }

    #add-gift {
        list-style: none;
        margin-left: 15px;
        padding-bottom: 280px;

        > li:nth-child(2n) {
            margin-left: 10px;
        }

        > li {
            float: left;
            width: 350px;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            margin: 10px 0;
            overflow: hidden;

            > a {
                position: relative;
                display: block;
                width: 350px;
                height: 350px;

                .like {
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    width: 42px;
                    height: 42px;
                    background: url("../imgs/cake-gift/no-like.png") no-repeat;
                    background-size: cover;
                }
            }

            .message {
                position: relative;
                width: 350px;
                p:nth-of-type(1) {
                    margin: 17px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    span:first-child {
                        font-size: 26px;
                        color: #505050;
                    }

                    span:last-child {
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }

                p:nth-of-type(2) {
                    margin: 17px;
                    font-size: 18px;
                    color: #e3e3e3;
                }

                p:nth-of-type(3) {
                    margin: 17px;
                    color: #505050;

                    span:first-child {
                        font-size: 22px;
                    }

                    span:last-child {
                        font-size: 16px;
                    }
                }

                .add {
                    position: absolute;
                    bottom: -10px;
                    right: 10px;
                    list-style: none;
                    display: none;

                    li {
                        float: left;
                        margin: 0 5px;
                    }

                    li:nth-of-type(1) {
                        width: 40px;
                        height: 40px;
                        background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(2) {
                        width: 80px;
                        height: 40px;
                        border: 1px solid #dcdcdc;
                        text-align: center;
                        line-height: 40px;
                    }

                    li:nth-of-type(3) {
                        width: 40px;
                        height: 40px;
                        background: url("../imgs/cake-gift/add.png") no-repeat;
                        background-size: cover;
                    }

                    li.active {
                        width: 40px;
                        height: 40px;
                        background: url("../imgs/cake-gift/subtract.png") no-repeat;
                        background-size: cover;
                    }
                }
                >a{
                    display: block;
                    position: absolute;
                    right: 10px;
                    bottom: 0;
                    width: 70px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    color: #fff;
                    font-size: 18px;/*px*/
                    background-color: #e7566d;
                }
            }
        }

        .activeBorder {
            border-color: #e9546b;

            .like {
                background: url("../imgs/cake-gift/like.png") no-repeat;
                background-size: cover;
            }

            .message {
                .add {
                    display: block;
                }
                >a{
                    display: none;
                }
            }
        }
    }

    .confirm {
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        max-width: 750px;
        width: 100%;
        p{
            padding: 20px 0 20px 17px;
            color: #e9546b;
            background-color: #fde9ec;
        }
        a:nth-of-type(1) {
            display: block;
            width: 100%;
            height: 79px;
            border-top: 1px solid #e9546b;
            text-align: center;
            line-height: 79px;
            color: #e9546b;
            font-size: 24px;
            background: #fff;
        }

        a:nth-of-type(2) {
            display: block;
            width: 100%;
            height: 80px;
            background: #e9546b;
            text-align: center;
            line-height: 80px;
            font-size: 30px;
            color: #fff;
        }
    }

    .shade {
        display: none;
        position: fixed;
        top: 0;
        margin: 0 auto;
        max-width: 750px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);

        .parcel {
            position: absolute;
            bottom: -100%;
            margin: 0 auto;
            max-width: 750px;
            width: 100%;
            height: 920px;
            background: #f2f1f1;

            .candle {
                width: 715px;
                height: 619px;
                margin: 0 auto;
                border-bottom: 1px dashed #dcdcdc;

                > p {
                    width: 100%;
                    text-align: center;
                    padding: 40px 0;
                    font-size: 24px;
                }

                ul:nth-child(odd) {
                    margin-left: 20px;
                }

                ul {
                    float: left;
                    list-style: none;
                    height: 70px;
                    margin: 15px 0;

                    li {
                        float: left;
                        margin-right: 15px;
                    }

                    li:nth-of-type(1) {
                        width: 70px;
                        height: 70px;
                        border: 1px solid #dcdcdc;
                    }

                    li:nth-of-type(2),
                    li:nth-of-type(4) {
                        width: 50px;
                        height: 50px;
                        margin-top: 10px;
                    }

                    li:nth-of-type(2) {
                        background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(4) {
                        background: url("../imgs/cake-gift/add.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(3) {
                        width: 100px;
                        height: 60px;
                        text-align: center;
                        line-height: 60px;
                        border: 1px solid #000000;
                        margin-top: 3px;
                    }

                    li.active {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/subtract.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle01 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle01.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle02 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle02.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle03 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle03.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle04 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle04.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle05 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle05.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle06 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle06.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle07 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle07.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle08 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle08.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle09 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle09.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle00 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle00.png") no-repeat;
                        background-size: cover;
                    }
                }
            }

            .dish {
                p {
                    text-align: center;
                    padding: 40px 0;
                    font-size: 24px;
                }

                ul {
                    margin-left: 130px;
                    list-style: none;

                    li {
                        float: left;
                        margin-right: 20px;
                    }

                    li:nth-of-type(1) {
                        width: 71px;
                        height: 71px;
                        background: url("../imgs/icons/dish.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(2) {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                        background-size: cover;
                        margin-top: 10px;
                    }

                    li:nth-of-type(3) {
                        width: 240px;
                        height: 55px;
                        text-align: center;
                        line-height: 55px;
                        border: 1px solid #000;
                        margin-top: 5px;
                    }

                    li:nth-of-type(4) {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/add.png") no-repeat;
                        background-size: cover;
                        margin-top: 10px;
                    }

                    li.active {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/subtract.png") no-repeat;
                        background-size: cover;
                    }
                }
            }

            a:nth-of-type(1) {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 50%;
                height: 90px;
                text-align: center;
                line-height: 90px;
                background: #fb657d;
                color: #fff;
                font-size: 30px;
            }

            a:nth-of-type(2) {
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                width: 50%;
                height: 90px;
                text-align: center;
                line-height: 90px;
                background: #e9546b;
                color: #fff;
                font-size: 30px;
            }
        }
    }

    .gift-shade {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.7);

        .no-gift {
            display: none;
            position: absolute;
            left: 50%;
            top: 30%;
            margin-left: -278px;
            margin-top: -140px;
            width: 556px;
            height: 280px;
            border: 1px solid #e7566d;
            background: #fff;
            border-radius: 10px;
            div{
                position: absolute;
                left: 0;
                top: 0;
                width: 556px;
                height: 210px;
                p {
                    position: absolute;
                    left: 50px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: table;
                }
            }

            a {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                background: #e7566d;
                color: #fff;
            }
        }
        .selected-gift{
            display: none;
            position: absolute;
            left: 50%;
            top: 30%;
            margin-left: -278px;
            margin-top: -140px;
            width: 556px;
            height: 280px;
            border: 1px solid #e7566d;
            background: #fff;
            border-radius: 10px;
            div{
                position: absolute;
                left: 0;
                top: 0;
                width: 556px;
                height: 210px;
                p {
                    position: absolute;
                    left: 50px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: table;
                }
            }

            a {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                background: #e7566d;
                color: #fff;
            }
        }
        .limit-gift {
            display: none;
            position: absolute;
            left: 50%;
            top: 30%;
            margin-left: -278px;
            margin-top: -140px;
            width: 556px;
            height: 280px;
            border: 1px solid #e7566d;
            background: #fff;
            border-radius: 10px;
            div{
                position: absolute;
                left: 0;
                top: 0;
                width: 556px;
                height: 210px;
                p {
                    position: absolute;
                    left: 50px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: table;
                }
            }

            a {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                background: #e7566d;
                color: #fff;
            }
        }
    }
}
