.layout{
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .select{
        text-align: center;
        color: #e9546b;
        font-size: 20px;/*px*/
        padding: 30px 0 15px 0;
    }
    #flower-list{
        overflow: hidden;
        list-style: none;
        margin:12px;
        li:nth-child(2n){
            margin-left: 15px;
        }
        li{
            position: relative;
            float: left;
            border: 1px solid #dcdcdc;/*no*/
            border-radius: 10px;
            width: 350px;
            margin: 10px 0;
            overflow: hidden;
            a:nth-of-type(1){
                display: block;
                width: 350px;
                height: 350px;
            }
            a:nth-of-type(2){
                display: block;
                position: absolute;
                right: 10px;
                bottom: 15px;
                width: 70px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                color: #fff;
                background-color: #e7566d;
                font-size: 18px;/*px*/
            }
            p:nth-of-type(1){
                font-size: 18px;/*px*/
                color: #b6b6b6;
                margin: 15px;
                height: 80px;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow :ellipsis;
            }
            p:nth-of-type(2){
                margin: 15px;
                white-space:nowrap;
                overflow: hidden;
                text-overflow :ellipsis;
                span:first-child{
                    font-size: 26px;
                }
                span:last-child{
                    font-size: 14px;
                }
            }
            p:nth-of-type(3){
                margin: 15px;
                span{
                    font-size: 14px;
                }
            }
        }
    }
    .shade{
        position: fixed;
        top: 0;
        max-width: 750px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.7);
        .hint{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -275px;
            margin-top: -140px;
            width: 550px;
            height: 280px;
            border: 1px solid #e7566d;
            background-color: #fff;
            overflow: hidden;
            border-radius: 10px;
            div{
                position: absolute;
                left: 0;
                top: 0;
                width: 550px;
                height: 210px;
                >p{
                    position: absolute;
                    left: 20px;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    display: table;
                    font-size: 26px;/*px*/
                }
            }
            a:nth-of-type(1){
                position: absolute;
                left: 0;
                bottom: 0;
                width:50%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                color: #fff;
                background-color: #fb657e;
            }
            a:nth-of-type(2){
                position: absolute;
                right: 0;
                bottom: 0;
                width:50%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                color: #fff;
                background-color: #e7566d;
            }
        }
    }
}
