.layout {
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    #cake-list {
        overflow: hidden;
        list-style: none;
        margin: 12px;
        padding-bottom: 120px;

        li:nth-child(2n) {
            margin-left: 15px;
        }

        li {
            position: relative;
            float: left;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            width: 350px;
            margin: 10px 0;
            overflow: hidden;

            a:nth-of-type(1) {
                display: block;
                position: relative;
                width: 350px;
                height: 350px;

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    width: 42px;
                    height: 42px;
                    background: url("../imgs/cake-gift/no-like.png") no-repeat;
                    background-size: cover;
                }
            }

            &.active a:nth-of-type(1):after {
                background-image: url("../imgs/cake-gift/like.png");
            }

            a:nth-of-type(2){
                display: block;
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 110px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: #fff;
                font-size: 24px;/*px*/
                background-color: #e7566d;
                border-radius: 5px;
            }
            a:nth-of-type(3){
                display: none;
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 110px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: #e7566d;
                font-size: 24px;/*px*/
                background-color: #fff;
                border: 1px solid #e7566d;
                border-radius: 5px;
            }
            p:nth-of-type(1) {
                margin: 15px;

                span:first-child {
                    font-size: 26px;
                }

                span:last-child {
                    font-size: 14px;
                }
            }

            p:nth-of-type(2) {
                margin: 15px;
                font-size: 18px;
                color: #dcdcdc;
            }

            p:nth-of-type(3) {
                margin: 15px;

                span {
                    font-size: 14px;
                }
            }
        }

        li.active {
            border: 1px solid #e7566d;
            .confirm-btn{
                display: none;
            }
            .cancel-btn{
                display: block;
            }
        }
    }

    .confirm {
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        max-width: 750px;
        width: 100%;
        height: 100px;

        a:nth-of-type(1) {
            display: block;
            float: left;
            width: 50%;
            height: 100px;
            border-top: 1px solid #e9546b;
            text-align: center;
            line-height: 100px;
            color: #fff;
            font-size: 30px; /* px */
            background: #f2b4be;
        }

        a:nth-of-type(2) {
            display: block;
            float: right;
            width: 50%;
            height: 100px;
            background: #e9546b;
            text-align: center;
            line-height: 100px;
            font-size: 30px; /* px */
            color: #fff;
        }
    }

    .shade {
        display: none;
        position: fixed;
        top: 0;
        margin: 0 auto;
        max-width: 750px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);

        .parcel {
            position: absolute;
            bottom: -100%;
            max-width: 750px;
            margin: 0 auto;
            width: 100%;
            height: 920px;
            background: #f2f1f1;

            a:first-of-type {
                left: 0;
                background-color: #fb657d;
            }

            .candle {
                width: 715px;
                height: 619px;
                margin: 0 auto;
                border-bottom: 1px dashed #dcdcdc;

                > p {
                    width: 100%;
                    text-align: center;
                    padding: 40px 0;
                    font-size: 24px;
                }

                ul:nth-child(odd) {
                    margin-left: 20px;
                }

                ul {
                    float: left;
                    list-style: none;
                    height: 70px;
                    margin: 15px 0;

                    li {
                        float: left;
                        margin-right: 15px;
                    }

                    li:nth-of-type(1) {
                        width: 70px;
                        height: 70px;
                        border: 1px solid #dcdcdc;
                    }

                    li:nth-of-type(2),
                    li:nth-of-type(4) {
                        width: 50px;
                        height: 50px;
                        margin-top: 10px;
                    }

                    li:nth-of-type(2) {
                        background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(4) {
                        background: url("../imgs/cake-gift/add.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(3) {
                        width: 100px;
                        height: 60px;
                        text-align: center;
                        line-height: 60px;
                        border: 1px solid #000000;
                        margin-top: 3px;
                    }

                    li.active {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/subtract.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle01 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle01.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle02 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle02.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle03 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle03.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle04 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle04.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle05 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle05.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle06 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle06.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle07 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle07.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle08 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle08.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle09 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle09.png") no-repeat;
                        background-size: cover;
                    }
                }

                .candle00 {
                    li:nth-of-type(1) {
                        background: url("../imgs/cake-gift/candle00.png") no-repeat;
                        background-size: cover;
                    }
                }
            }

            .dish {
                p {
                    text-align: center;
                    padding: 40px 0;
                    font-size: 24px;
                }

                ul {
                    margin-left: 130px;
                    list-style: none;

                    li {
                        float: left;
                        margin-right: 20px;
                    }

                    li:nth-of-type(1) {
                        width: 71px;
                        height: 71px;
                        background: url("../imgs/icons/dish.png") no-repeat;
                        background-size: cover;
                    }

                    li:nth-of-type(2) {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                        background-size: cover;
                        margin-top: 10px;
                    }

                    li:nth-of-type(3) {
                        width: 240px;
                        height: 55px;
                        text-align: center;
                        line-height: 55px;
                        border: 1px solid #000;
                        margin-top: 5px;
                    }

                    li:nth-of-type(4) {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/add.png") no-repeat;
                        background-size: cover;
                        margin-top: 10px;
                    }

                    li.active {
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/cake-gift/subtract.png") no-repeat;
                        background-size: cover;
                    }
                }
            }

            a:nth-of-type(1) {
                position: absolute;
                bottom: 0;
                display: block;
                width: 50%;
                height: 90px;
                text-align: center;
                line-height: 90px;
                color: #fff;
                background: #fb657d;
                font-size: 30px;
            }

            a:nth-of-type(2) {
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                width: 50%;
                height: 90px;
                text-align: center;
                line-height: 90px;
                background: #e9546b;
                color: #fff;
                font-size: 30px;
            }
        }
    }

    .gift-shade {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.7);

        .no-gift {
            display: none;
            position: absolute;
            left: 50%;
            top: 30%;
            margin-left: -278px;
            width: 556px;
            border: 1px solid #e7566d;
            background: #fff;
            border-radius: 10px;

            p {
                padding: 100px 0 150px 45px;
                font-size: 26px;
            }

            a {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                background: #e7566d;
                color: #fff;
            }
        }

        .limit-gift {
            position: absolute;
            left: 50%;
            top: 30%;
            margin-left: -278px;
            width: 556px;
            border: 1px solid #e7566d;
            background: #fff;
            border-radius: 10px;

            p {
                padding: 100px 0 150px 45px;
                font-size: 26px;
            }

            a {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 70px;
                text-align: center;
                line-height: 70px;
                background: #e7566d;
                color: #fff;
            }
        }
    }
}
