/**
 * HomePage CSS file
 */
// Mixins
@import "mixins/triangle";
@import "mixins/clearfix";

// Clear float
body {
  background: #f5f5f5;
}

.clearfix {
  @include clearfix()
}

// Variables
$loc-triangle-w: 13px;
$loc-triangle-bgcolor: #f0f0f0;

#project {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.home {
  position: fixed;
  right: 20px;
  top: 20px;
  display: none;
  width: 105px;
  height: 105px;
  background: url(../imgs/detail/HOME.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 750px;

  .swiper-slide {

    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  a {
    display: block;
    width: 100%;
    height: 750px;
    text-decoration: none;
    img {
      width: 100%;
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      display: inline-block;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #b3a3a3;
    }

    .swiper-pagination-bullet-active {
      background-color: #e9546b;
    }
  }
}

.sell-out:after {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../imgs/detail/sell-out.png") no-repeat;
  background-size: cover;
}

.name {
  width: 100%;
  background: #fff;
  position: relative;
  div:first-child {
    padding: 30px;
    > p:first-child {
      font-size: 36px; /*px*/
    }
    > p:last-child {
      margin-top: 10px;
      font-size: 24px; /*px*/
    }
  }
  > div:nth-of-type(2) {
    width: 215px;
    height: 36px;
    position: absolute;
    left: 500px;
    top: 70px;
    font-weight: 600;
    .now {
      float: right;
      vertical-align: top;
      > span:first-child {
        font-size: 28px;
        color: #e9546b;
      }
      #title {
        font-size: 36px;
        color: #e9546b;
      }
    }
    .old {
      position: absolute;
      padding: 0;
      left: 35px;
      top: 10px;
      span {
        font-size: 28px;
        color: #b3b3b3;
        text-decoration: line-through;
      }
    }
  }
  .hint {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #e9546b;
    font-size: 20px; /*px*/
  }
  .express-tip {
    width: 750px;
    margin-top: 10px;

    .content {
      width: 670px;
      padding: 0 0 20px 0;
      margin: 0 auto;
      background: {
        image: url('../imgs/detail/express_tip_bg.png');
        repeat: no-repeat;
        size: 84px 24px;
      }

      p {
        width: 570px;
        margin-left: auto;
        font-size: 18px !important; /*px*/
        line-height: 28px;
        color: #fa294a;
      }
    }

    .link {
      display: block;
      width: 750px;
      background-color: #ffe3e7;

      > span {
        display: block;
        width: 670px;
        margin: 0 auto;
        padding: 15px 0;
        line-height: 40px;
        font-size: 22px; /*px*/
        color: #333;
      }

      i {
        font-style: normal;
        color: #fa294a;
      }
      .arrow {
        float: right;
        color: #333;
      }
    }
  }
}

/*新改的内容*/
.detail-content {
  background: #f5f5f5;
  padding-bottom: 120px;
  .detail-info {
    margin-top: 35px;
  }
}

.name_content {
  background: #fff;
  border-top: 1px solid #d5d5d5;
  //  height: 880px;
  .first_ul {
    list-style: none;
    width: 710px;
    margin: 0 auto;
    //      height: 850px;
    > li {
      border-bottom: 1px solid #d5d5d5;
    }
    .first_li {
      height: 130px;
      p {
        font-size: 25px; /*px*/
        margin: 15px;
      }
      ul {
        margin: 0 auto;
        background: #fff;
        list-style: none;
        li {
          float: left;
          width: 150px;
          height: 60px;
          color: #898989;
          border: 1px solid #898989;
          text-align: center;
          line-height: 60px;
          margin: 0 10px;
          border-radius: 5px;

          &.special {
            position: relative;

            &:after {
              display: block;
              position: absolute;
              top: -15px;
              right: -16px;
              content: '';
              width: 48px;
              height: 42px;
              background: {
                image: url('../imgs/detail/icon_special.png');
                repeat: no-repeat;
                size: cover;
                position: center center;
              }
            }
          }
        }
        .active {
          color: #e9546b;
          border: 1px solid #e9546b;
        }
      }
    }
    .two_li {
      height: 130px;
      p {
        font-size: 25px; /*px*/
        margin: 15px;
      }
      ul {
        margin: 0 auto;
        background: #fff;
        list-style: none;
        li {
          float: left;
          width: 260px;
          height: 60px;
          color: #898989;
          border: 1px solid #898989;
          text-align: center;
          line-height: 60px;
          margin: 0 10px;
          border-radius: 5px;
          span {
            margin: 0 10px;
          }
        }
        .active {
          color: #e9546b;
          border: 1px solid #e9546b;
        }
      }
    }
    .three_li {
      ul {
        margin-left: 30px;
        list-style: disc;
        color: #898989;
        li {
          margin: 15px;
          border: none;
        }
      }
    }
    .four_li, .five_li {
      position: relative;
      .title {
        margin-left: 30px;
        font-weight: normal;
      }
      div {
        margin: 0 auto;
        padding: 20px 0;
        width: 660px;
        height: 90px;
        position: relative;
        border-bottom: 1px solid #f0f0f0;
        &:last-child{
          border-bottom: none;
        }
      }
      a:first-child {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin-right: 30px;
      }
      p {
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
        width: 260px;
        font-size: 24px; /*px*/
        color: #898989;
        margin-right: 20px;
      }
      .cost {
        vertical-align: top;
        display: inline-block;
        font-size: 30px;
        line-height: 90px;
        color: #e7566d;
        span {
          font-size: 20px;
        }
        .total{
          font-size: 30px;
        }
      }
      .like {
        display: block;
        position: absolute;
        right: 0;
        top: 20px;
        width: 50px;
        height: 50px;
        background: url("../imgs/detail/no-like.png") no-repeat;
        background-size: 100% 100%;
      }
      .active {
        background: url("../imgs/detail/like.png") no-repeat;
        background-size: 100% 100%;
      }
      .operators {
        position: absolute;
        right: 0;
        top: 20px;
        vertical-align: top;
        width: 140px;
        height: 50px;
        font-size: 0;
        margin-left: 10px;
        border-bottom: none;
        .btn {
          width: 45px;
          height: 45px;
          margin-top: 5px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .jiajia-num {
          width: 50px;
          height: 50px;
          top: 20px;
          left: 45px;
          line-height: 50px;
          text-align: center;
          font-size: 24px;
          position: absolute;
          display: none;
        }
        .jiajia-add{
          position: absolute;
          right: 0;
          top: 20px;
        }
        .jiajia-minus{
          position: absolute;
          display: none;
          left: 0;
          top: 20px;
        }
      }
      .check-detail{
        position: absolute;
        color: #dd5e6e;
        font-size: 18px;
        text-decoration: underline;
        bottom: 10px;
        left: 42%;
      }
    }
    .last_li {
      position: relative;
      height: 130px;
      border-bottom: 1px solid #d5d5d5;
      p {
        font-size: 25px; /*px*/
        margin: 15px;
      }
      ul {
        list-style: none;
        border: none;
        li:first-child, li:last-child {
          width: 57px;
          height: 56px
        }
        li:first-child {
          position: absolute;
          left: 105px;
          top: 35px;
          background: url("../imgs/index/subtract-gay.png") no-repeat;
          background-size: 57px 56px;
        }
        li:last-child {
          position: absolute;
          top: 35px;
          right: 80px;
          background: url("../imgs/index/add.png") no-repeat;
          background-size: 57px 56px;
        }
        li:nth-of-type(2) input {
          position: absolute;
          left: 180px;
          top: 25px;
          width: 380px;
          height: 70px;
          text-align: center;
          background: #f1f1f1;
          border: none;
          color: #000;
        }
        li.active {
          background: url("../imgs/index/subtract.png") no-repeat;
          background-size: 57px 56px;
        }
      }
    }
  }
}

.section {
  max-width: 750px;
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
}

.cake_describe {
  max-width: 750px;
  width: 100%;
  margin: 40px auto;
  margin-bottom: 0;
  overflow: hidden;
  background: #fff;
  .chocolate {
    width: 650px;
    height: 400px;
    margin: 20px auto;
  }
  .cake_describe_ul {
    margin-left: 40px;
    list-style: none;
    li {
      margin: 40px auto;
      position: relative;
      p {
        position: absolute;
        left: 170px;
        top: 0;
        width: 500px;
      }
      span:first-child {
        display: inline-block;
        width: 130px;
        text-align: right;
        font-size: 25px;
        font-weight: 600;
      }
    }
    .cake_describe_li {
      a {
        display: block;
        float: left;
        width: 24px;
        height: 28px;
        background: url("../imgs/icons/icon_sweet.png") no-repeat;
        background-size: 100% 100%;
      }
      a.active {
        //              display:block;
        //              float: left;
        //              width: 18px;
        //              height: 22px;
        background: url("../imgs/icons/icon_sweet_active.png") no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .chocolate02 {
    width: 580px;
    height: 410px;
    margin: 50px auto;
  }
  .cake_describe_ul02 {
    position: relative;
    list-style: none;
    width: 580px;
    height: 90px;
    margin: 0 auto;
    li {
      width: 290px;
      height: 30px;
      float: left;
      span {
        font-size: 20px; /*px*/
        color: #828282;
      }
    }
    li:nth-of-type(1) {
      a {
        display: block;
        width: 50px;
        height: 30px;
        background: url("../imgs/detail/new-zealand.png") no-repeat;
        background-size: 100% 100%;
      }
      span {
        position: absolute;
        left: 70px;
        top: 2px;
        font-size: 22px; /*px*/
      }
    }
    li:nth-of-type(2) {
      a {
        display: block;
        width: 50px;
        height: 30px;
        background: url("../imgs/detail/canada.png") no-repeat;
        background-size: 100% 100%;
      }
      span {
        position: absolute;
        left: 360px;
        top: 2px;
        font-size: 22px; /*px*/
      }
    }
    li:nth-of-type(3) {
      position: absolute;
      left: 0;
      bottom: 0;
      a {
        display: block;

        width: 50px;
        height: 30px;
        background: url("../imgs/detail/germany.png") no-repeat;
        background-size: 100% 100%;
      }
      span {
        position: absolute;
        left: 70px;
        top: 2px;
        font-size: 22px; /*px*/
      }
    }
    li:nth-of-type(4) {
      position: absolute;
      left: 290px;
      bottom: 0;
      a {
        display: block;
        width: 50px;
        height: 30px;
        background: url("../imgs/detail/china.png") no-repeat;
        background-size: 100% 100%;
      }
      span {
        position: absolute;
        left: 70px;
        top: 2px;
        font-size: 22px; /*px*/
      }
    }
  }
  .anchor {
    width: 580px;
    height: 190px;
    margin: 50px auto;
    .anchor_a {
      position: relative;
      a {
        display: block;
        width: 140px;
        height: 80px;
        background: url("../imgs/detail/anchor.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 20px;
      }
      p {
        position: absolute;
        left: 160px;
        top: 0;
        width: 420px;
        font-size: 21px; /*px*/
        color: #828282;

      }
    }
  }
  .hierarchy {
    position: relative;
    margin-top: 100px;
    max-width: 750px;
    background: #fafafa;
    height: 600px;
    width: 100%;
    a {
      display: block;
      position: absolute;
      left: 188px;
      top: -80px;
      width: 370px;
      height: 170px;
      background: url("../imgs/detail/hierarchy.png") no-repeat;
      background-size: 100% 100%;
    }
    img {
      margin-top: 90px;
    }
  }

}

.product-description {
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  padding-bottom: 100px;
  ul {
    list-style: none;
    padding-top: 40px;
    li:nth-of-type(1) {
      a {
        display: block;
        max-width: 750px;
        width: 100%;
        //              height: 445px;
        //              background: url("../imgs/detail/cake04.png") no-repeat;
        //              background-size:100% 100% ;
      }
      p {
        width: 640px;
        margin: 20px auto;
        color: #828282;
        line-height: 40px;
      }
    }
    li:nth-of-type(2) {
      a {
        display: block;
        max-width: 750px;
        width: 100%;
        //              height: 445px;
        //              background: url("../imgs/detail/cake05.png") no-repeat;
        //              background-size:100% 100% ;
      }
      p {
        width: 640px;
        margin: 20px auto;
        margin-bottom: 25px;
        color: #828282;
        line-height: 40px;
      }
    }
    li:nth-of-type(3) {
      padding-bottom: 110px;
      a {
        display: block;
        max-width: 750px;
        width: 100%;
        height: 300px;
        background: url("../imgs/detail/cake06.png") no-repeat;
        background-size: 100% 100%;
      }

    }
  }
}

.specifications {
  position: relative;
  max-width: 750px;
  width: 100%;
  height: 910px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: #fafafa;
  border-bottom: 1px solid #d5d5d5;
  .specifications_a {
    display: block;
    position: absolute;
    left: 190px;
    top: -80px;
    width: 370px;
    height: 170px;
    background: url("../imgs/detail/specifications.png") no-repeat;
    background-size: 100% 100%;
  }
  .specifications_ul {
    list-style: none;
    li {
      float: left;
      width: 375px;
      height: 450px;
      text-align: center;
      a:nth-of-type(2) {
        display: block;
        width: 150px;
        height: 25px;
        text-align: center;
        line-height: 26px;
        background: #f1b4be;
        border-radius: 20px;
        color: #fff;
      }
      p {
        font-size: 18px; /*px*/
        margin: 15px auto;
      }
      p:nth-of-type(1) {
        font-size: 18px; /*px*/
        color: #898989;
      }
      p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4) {
        color: #8b8b8b;
      }
    }
    li:nth-of-type(1) {
      a:nth-of-type(1) {
        display: block;
        margin-top: 140px;
        margin-left: 123px;
        margin-bottom: 40px;
        width: 126px;
        height: 97px;
        background: url("../imgs/detail/09.png") no-repeat;
        background-size: 100% 100%;
      }
      a:nth-of-type(2) {
        margin-left: 110px;
      }
    }
    li:nth-of-type(2) {
      a:nth-of-type(1) {
        display: block;
        margin-top: 130px;
        margin-left: 100px;
        margin-bottom: 25px;
        width: 165px;
        height: 120px;
        background: url("../imgs/detail/016.png") no-repeat;
        background-size: 100% 100%;
      }
      a:nth-of-type(2) {
        margin-left: 110px;
      }
    }
    li:nth-of-type(3) {
      a:nth-of-type(1) {
        display: block;
        margin-left: 85px;
        margin-top: 80px;
        margin-bottom: 30px;
        width: 205px;
        height: 140px;
        background: url("../imgs/detail/025.png") no-repeat;
        background-size: 100% 100%;
      }
      a:nth-of-type(2) {
        margin-left: 110px;
      }
    }
    li:nth-of-type(4) {
      a:nth-of-type(1) {
        display: block;
        margin-left: 25px;
        margin-top: 45px;
        width: 283px;
        height: 189px;
        background: url("../imgs/detail/049.png") no-repeat;
        background-size: 100% 100%;
      }
      a:nth-of-type(2) {
        margin-left: 110px;
      }
    }
  }
}

.evaluate {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 150px;
  background: #fff;
  border: 1px solid #d5d5d5;
  > P {
    padding: 30px 20px;
    span:first-child {
      font-size: 28px; /*px*/
      color: #c8c8c8;
    }
    span:last-child {
      font-size: 24px; /*px*/
      color: #cfcfcf;
      font-family: "宋体";
      margin-left: 20px;
    }
  }
  ul {
    list-style: none;
    width: 710px;
    margin: 0 auto;
    li {
      border-bottom: 1px solid #dcdcdc;
      p {
        padding: 10px 20px;
        position: relative;
      }
      p:first-child {
        span:nth-of-type(1) {
          display: inline-block;
          width: 25px;
          height: 33px;
          background: url("../imgs/detail/people.png") no-repeat;
          background-size: 100% 100%;
        }
        span:nth-of-type(2) {
          font-size: 24px; /*px*/
          position: absolute;
          left: 65px;
          top: 15px;
          color: #828282;
        }
        span:nth-of-type(3) {
          margin-left: 540px;
        }
        span:nth-of-type(3), span:nth-of-type(4), span:nth-of-type(5), span:nth-of-type(6), span:nth-of-type(7) {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url("../imgs/icons/icon_comment_star.png") no-repeat;

          background-size: 100% 100%;

        }
        span.active {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url("../imgs/icons/icon_comment_star_active.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      p:last-child {
        font-size: 24px; /*px*/
        color: #828282;
        line-height: 40px;
      }
    }
  }
  .next_page {
    width: 750px;
    height: 75px;
    line-height: 75px;
    position: relative;
    span:first-child {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 30px;
      width: 40px;
      height: 40px;
      background: url("../imgs/detail/left.png") no-repeat;
      background-size: 100% 100%;

    }
    span:last-child {
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 20px;
      width: 40px;
      height: 40px;
      background: url("../imgs/detail/right.png") no-repeat;
      background-size: 100% 100%;
    }
    .first {
      margin-left: 210px;
    }
    a {
      margin: 0 30px;
      color: #b9b9b9;
    }
    .active {
      color: #e9546b;
      text-decoration: underline;
    }
  }
}

#shade {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9995;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  .shade_shopping {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 446px;
    height: 286px;
    z-index: 9999;
    overflow: hidden;
    margin-left: -223px;
    margin-top: -143px;
    border-radius: 8px;
    border: 3px solid #e7566d;
    div {
      width: 100%;
      height: 210px;
      background: #ffffff;
      border-radius: 8px 8px 0 0;
      span:first-child {
        display: inline-block;
        width: 86px;
        height: 60px;
        background: url("../imgs/detail/face.png") no-repeat;
        background-size: 100% 100%;
        margin-left: 55px;
        margin-top: 80px;
      }
      span:last-child {
        display: inline-block;
        width: 222px;
        margin-left: 25px;
      }
    }
    a {
      display: block;
      float: left;
      width: 223px;
      height: 76px;
      text-align: center;
      line-height: 76px;
      color: #fff;
      background: #f1b4be;
      font-size: 24px;
    }
    a:last-child {
      background: #e7566d;
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dcdcdc;
  max-width: 750px;
  width: 100%;
  height: 95px;
  margin: 0 auto;
  background: #fff;
  a {
    float: left;
    position: relative;
  }
  .heart {
    display: block;
    width: 14%;
    height: 95px;
    background: url("../imgs/detail/heart.png") no-repeat;
    background-size: 100% 100%;
  }
  .heart-shade {
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: #dcdcdc;
      opacity: 0.7;
    }
  }
  .active {
    display: block;
    width: 14%;
    height: 95px;
    background: url("../imgs/detail/heart-red.png") no-repeat;
    background-size: 100% 100%;
  }
  .shop {
    display: block;
    width: 14%;
    height: 95px;
    background: url("../imgs/detail/shop.png") no-repeat;
    background-size: 100% 100%;
    span {
      display: block;
      position: absolute;
      left: 167px;
      top: 10px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 35px;
      background: #e9546b;
      color: #fff;
      font-size: 20px;
      border-radius: 100%;
    }
  }
  .buy {
    display: block;
    width: 36%;
    height: 95px;
    text-align: center;
    line-height: 95px;
    background: #f2b4be;
    font-size: 26px;
    color: #fff;
  }
  .add-shop {
    display: block;
    width: 36%;
    height: 95px;
    text-align: center;
    line-height: 95px;
    background: #e9546b;
    color: #fff;
  }

  /*新增样式*/
  a {
    display: block;
    width: 50%;
    text-align: center;
    line-height: 95px;
    height: 95px;
    font-size: 24px;
    &.contactService {
      color: #f94f42;
    }
    &.exchange {
      color: #fff;
      background: #f94f42;
    }
  }
}
.jiajia-detail{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 10000;
  display: none;
  .jiajia-content{
    position: absolute;
    width: 670px;
    background: #fff;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    //top: 35%;
    .img{
      width: 550px;
      height: 550px;
      margin: 80px auto 0;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .information{
      width: 450px;
      margin: 0 auto;
      .name{
        color: #dd3f3a;
        font-size: 22px;
        line-height: 80px;
        border-bottom: 2px dashed #dd3f3a;
        font-weight: normal;
        text-align: center;
      }
      .desc{
        padding-left: 90px;
        padding-top: 40px;
        list-style: none;
        li{
          font-size: 22px;
          line-height: 38px;
          color: #aca7a6;
        }
      }
    }
    .maintenance{
      width: 450px;
      margin: 0 auto;
      .title{
        font-size: 22px;
        line-height: 80px;
        border-bottom: 2px dashed #aca7a6;
        font-weight: normal;
        text-align: center;
        margin-bottom: 40px;
      }
      p{
        padding-left: 40px;
        font-size: 22px;
        line-height: 38px;
        color: #aca7a6;
        &:last-child{
          padding-bottom: 60px;
        }
      }
    }
    .close-jiajiaDetail{
      position: absolute;
      display: block;
      width: 45px;
      height: 45px;
      right: 20px;
      top: 20px;
      background: url("./../../assets/imgs/detail/jiajia-close.png") no-repeat;
      background-size: 45px 45px;
    }
  }
}
