.layout{
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    #flower-list{
        overflow: hidden;
        list-style: none;
        margin:12px;
        li:nth-child(2n){
            margin-left: 15px;
        }
        li{
            position: relative;
            float: left;
            border: 1px solid #dcdcdc; /*no*/
            border-radius: 10px;
            width: 350px;
            margin: 10px 0;
            overflow: hidden;
            a:nth-of-type(1){
                display: block;
                width: 350px;
                height: 350px;
            }
            a:nth-of-type(2){
                position: absolute;
                left: 20px;
                top: 20px;
                display: block;
                width: 50px;
                height: 50px;
                background: url("../imgs/flower-list/live.png") no-repeat;
                background-size: 50px 50px;
            }
            a.active{
               background: url("../imgs/flower-list/like.png") no-repeat;
               background-size: 50px 50px;
            }
            p:nth-of-type(1){
                margin: 15px 15px 0;
                span {
                    display: block;
                    width: 320px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                span:first-child{
                    font-size: 26px; /*px*/
                    line-height: 36px;
                }
                span:last-child{
                    font-size: 18px; /*px*/
                   line-height: 36px;
                }
            }
            p:nth-of-type(2){
                margin: 0 15px;
                font-size: 20px; /*px*/
                color: #b4b4b4;
            }
            p:nth-of-type(3){
                margin: 15px;
                font-size: 26px; /*px*/
                span{
                    font-size: 20px; /*px*/
                }
            }
            >span{
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 75px;
                height: 75px;
                background: url("../imgs/flower-list/car.png") no-repeat;
                background-size: 75px 75px;
            }
        }
    }
    .flower-shade{
        display: none;
        position: fixed;
        top: 0;
        margin: 0 auto;
        max-width:750px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.6);
        z-index: 9999;
        >div{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -350px;
            margin-top: -400px;
            width: 700px;
            height: 490px;
            background-color: #fff;
            border-radius: 10px;
            p:nth-of-type(1){
                font-size: 26px;
                text-align: center;
                margin-top: 50px;
            }
            ul:nth-of-type(1){
                list-style: none;
                margin-left: 40px;
                margin-top: 45px;
                li{
                    float: left;
                    margin: 0 10px;
                    width: 140px;
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    background-color: #f1f1f1;
                    color: #ed8997;
                    border:1px solid #f1f1f1;
                }
                li.active{
                    border: 1px solid #e96478;
                    background: url("../imgs/index/norms.png") no-repeat;
                    background-size: 45px 45px;
                    background-position: 100% 100%;
                }
            }
            ul:nth-of-type(2){
                list-style: none;
                margin-left: 160px;
                margin-top: 60px;
                li{
                    float: left;
                    margin: 0 10px;
                }
                li:nth-of-type(1){
                    font-size: 26px;
                    line-height: 56px;
                }
                li:nth-of-type(2){
                    width: 57px;
                    height: 56px;
                    background: url("../imgs/index/subtract-gay.png") no-repeat;
                    background-size: 57px 56px;
                }
                li:nth-of-type(4){
                    width: 57px;
                    height: 56px;
                    background: url("../imgs/index/add.png") no-repeat;
                    background-size: 57px 56px;
                }
                li:nth-of-type(3){
                    width: 100px;
                    height: 56px;
                    background-color: #f1f1f1;
                    text-align: center;
                    line-height: 56px;
                    color: #e7566c;
                }
                li.active{
                    background: url("../imgs/index/subtract.png") no-repeat;
                    background-size: 57px 56px;
                }
            }
            a{
                display: block;
                width: 210px;
                height: 60px;
                background-color: #e7566c;
                color: #fff;
                text-align: center;
                line-height: 60px;
                font-size: 24px;
                border-radius: 5px;
            }
            a:nth-of-type(1){
                position: absolute;
                left: 130px;
                bottom: 50px;
            }
            a:nth-of-type(2){
                position: absolute;
                left: 360px;
                bottom: 50px;
            }
            .flower-close{
                position: absolute;
                top: 30px;
                right: 0;
                display: block;
                width: 50px;
                height: 50px;
                background: url("../imgs/index/close.png") no-repeat;
                background-size: 25px 25px;
            }
        }
    }
}
#shade {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9995;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

#shade .shade_shopping {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5.946667rem;
    height: 3.813333rem;
    z-index: 9999;
    overflow: hidden;
    margin-left: -2.973333rem;
    margin-top: -1.906667rem;
    border-radius: 0.106667rem;
    border: 0.04rem solid #e7566d;
}

#shade .shade_shopping div {
    width: 100%;
    height: 2.8rem;
    background: #ffffff;
    border-radius: 0.106667rem 0.106667rem 0 0;
}

#shade .shade_shopping div span:first-child {
    display: inline-block;
    width: 1.146667rem;
    height: 0.8rem;
    background: url("../imgs/list/face.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.733333rem;
    margin-top: 1.066667rem;
}

#shade .shade_shopping div span:last-child {
    display: inline-block;
    width: 2.96rem;
    margin-left: 0.333333rem;
}

#shade .shade_shopping a {
    display: block;
    float: left;
    width: 2.973333rem;
    height: 1.013333rem;
    text-align: center;
    line-height: 1.013333rem;
    color: #fff;
    background: #f1b4be;
    font-size: 0.32rem;
}

#shade .shade_shopping a:last-child {
    background: #e7566d;
}
