.layout{
    max-width: 750px;
    margin: 0 auto;
    ul{
        width: 720px;
        height: 244px;
        margin: 20px auto;
        list-style: none;
        li{
            margin: 20px 0;
            a{
                position: relative;
                float: left;
                display: block;
                width: 244px;
                height: 244px;
                z-index: 9999;
                .like{
                    position: absolute;
                    left: 16px;
                    top: 18px;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: url("../imgs/index/live.png") no-repeat;
                    background-size: cover;
                }
                span.active{
                    background: url("../imgs/index/like.png") no-repeat;
                    background-size: cover;
                }
            }
            div{
                position: relative;
                height: 244px;
                p{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                p:nth-of-type(1){
                    padding-left: 10px;
                    padding-top: 15px;
                    color: #505050;
                    span:first-child{
                        font-size: 26px;/*px*/
                    }
                    span:last-child{
                        font-size: 18px;/*px*/
                        margin-left: 20px;
                    }
                }
                p:nth-of-type(2){
                    font-size: 20px;/*px*/
                    margin-top: 15px;
                    padding-left: 10px;
                    color: #888;
                }
                p:nth-of-type(3){
                    font-size: 20px;/*px*/
                    color: #888;
                    padding-left: 10px;
                    margin-top: 15px;
                }
                p:nth-of-type(4){
                    font-size: 20px;/*px*/
                    color: #888;
                    padding-left: 10px;
                    margin-top: 10px;
                }
                p:nth-of-type(5){
                    margin-top: 15px;
                    padding-left: 10px;
                    color: #505050;
                    span:first-child{
                        font-size: 20px;/*px*/
                    }
                    span:last-child{
                        font-size: 18px;/*px*/
                    }
                }
            }
            .shopping-car{
                position: absolute;
                right: 10px;
                bottom: 5px;
                display: block;
                width: 42px;
                height: 40px;
                background: url("../imgs/icons/shopping-car.png") no-repeat;
                background-size: cover;
            }
        }
    }
}
.note {
font-size:0.4444rem;
text-align:center;
margin-top:3.33rem;
}
