body{
    background:  #f5f5f5;
}
#nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    z-index: 100;
    ul{
        list-style: none;
        display: flex;
        li{
           flex: 1;
            text-align: center;
            line-height: 80px;
            height: 80px;
            box-sizing: border-box;
            &.active{
                color: #e9546b;
                border-bottom: 2px solid #e9546b;
            }
        }
    }
}
#content{
    margin-top: 110px;
}
#await{
    margin-top: 110px;
    display: none;
}
.data{
    max-width: 750px;
    margin: 0 auto;
    margin-top: 30px;
    background: #fff;
    ul:first-child{
        list-style: none;
        border: none;
        li{
            max-width: 750px;
            width: 100%;
            margin: 0 auto;
        }
        .cake{
            border-bottom: 1px solid #dcdcdc;
            p:first-child{
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                line-height: 60px;
                margin: 0 40px;
                a{
                    color: #505050;
                }
                span:nth-of-type(2){
                    color: #e9546b;
                }

            }
            ul{
                list-style: none;
                li.cake-li:last-child{
                    border-bottom: 1px solid #dcdcdc;
                }
                li.cake-li{
                    width: 100%;
                    margin: 5px auto;
                    margin-right: 0;
                    position: relative;
                    background: #fafafa;
                    padding: 30px 40px;
                    box-sizing: border-box;
                    a{
                        display: block;
                        width: 120px;
                        height: 120px;
                    }
                    p:nth-of-type(1){
                        position: absolute;
                        top: 30px;
                        left: 190px;
                        font-size: 26px;
                        span:nth-of-type(2){
                            position: absolute;
                            top: 0;
                            left: 420px;
                            font-size: 24px;
                        }
                    }
                    p:nth-of-type(2){
                        position: absolute;
                        top: 70px;
                        left: 190px;
                        font-size: 22px;
                        span:nth-of-type(1){
                            color: #b5b5b5;
                        }
                        span:nth-of-type(2){
                            position: absolute;
                            color: #b5b5b5;
                            top: 0;
                            left: 500px;
                        }
                    }
                }
                .price{
                    height: 75px;
                    p:first-child{
                       position: relative;
                        height: 60px;
                        box-sizing: border-box;
                        margin: 0 60px;
                        margin-top: 15px;
                       span {
                           display: inline-block;
                           height: 60px;
                           line-height: 60px;
                           color: #5c5c5c;
                       }
                       .num{
                           position: absolute;
                           left: 280px;
                           top: 0;
                       }
                       span:nth-of-type(2){
                           position: absolute;
                           left: 460px;
                           top: 0;
                       }
                       span:nth-of-type(3){
                           color: #e9546b;
                           position: absolute;
                           left: 530px;
                           font-size:30px;
                           top: 0px;
                       }
                    }
                    p:last-child{
                        position: relative;
                        color: #b4b4b4;
                        span {
                            display: inline-block;
                            height: 60px;
                            line-height: 60px;
                        }
                        .total{
                            position: absolute;
                            top: 0;
                            left: 160px;
                        }
                        .privilege{
                            position: absolute;
                            top: 0;
                            left: 347px;
                        }
                        .paid{
                            position: absolute;
                            top: 0;
                            left: 520px;
                        }
                    }
                }
            }
        }
        .time{
            position: relative;
            height: 135px;
            p{
                position: absolute;
                right: 30px;
                bottom:30px;
                a{
                    float: left;
                    text-align: right;
                    margin: 0 10px;
                }
            }
            a:nth-of-type(1){
                display: block;
                text-decoration: none;
                width: 180px;
                height: 70px;
                border: 1px solid #e9546b;
                text-align: center;
                line-height: 70px;
                color: #e9546b;
            }
            a:nth-of-type(2){
                display: block;
                text-decoration: none;
                width: 180px;
                height: 70px;
                border: 1px solid #e9546b;
                text-align: center;
                line-height: 70px;
                color: #e9546b;
            }
            a:nth-of-type(3){
                display: block;
                text-decoration: none;
                width: 180px;
                height: 70px;
                background-color:#e9546b;
                text-align: center;
                line-height: 70px;
                color: #fff;
            }
        }
        .discuss{
            p{
                width: 100%;
                padding: 43px 0;
                text-align: right;
                >span{
                    span{
                        margin-right: 130px;
                    }
                }
                a{
                    display: inline-block;
                    width: 115px;
                    height: 70px;
                    text-align: center;
                    line-height: 70px;
                    border: 1px solid #e9546b;
                    color: #e9546b;
                    margin-right: 30px;
                }
            }
        }
    }
}
.cancel-shade{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(255,255,255,0.7);
    display: none;
    .cancel{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -250px;
        width: 600px;
        height: 500px;
        border: 1px solid #e7566d;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        p{
            margin-left: 25px;
            font-size: 22px; /*px*/
            line-height: 48px;
        }
        p:nth-of-type(1){
            margin-top: 40px;
        }
        span{
            display: block;
            font-size: 24px; /*px*/
            line-height: 50px;
            margin-left: 25px;
            text-indent: 50px;
            background: url("../imgs/icons/no-like.png") no-repeat;
            background-size: 33px 33px;
            background-position: 0 10px;
        }
        span.active{
            background: url("../imgs/icons/like.png") no-repeat;
            background-size: 33px 33px;
            background-position: 0 10px;
        }
        a{
            display: block;
            width: 50%;
            height: 90px;
            text-align: center;
            line-height: 90px;
            color: #fff;
        }
        a:nth-of-type(1){
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #e7566d;
        }
        a:nth-of-type(2){
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #f1b4be;
        }
    }
}
.pay-shade{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(255,255,255,0.7);
    display: none;
    .pay{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -280px;
        margin-top:-275px ;
        width: 560px;
        border: 1px solid #e7566d;
        border-radius: 10px;
        background-color: #fff;
        p{
            font-size: 26px; /*px*/
            text-align: center;
            margin-top: 40px;
        }
        ul{
            list-style: none;
            margin-top: 20px;
            padding-bottom: 150px;
            li{
                position: relative;
                width: 235px;
                height: 60px;
                border: 1px solid #45515d;
                float: left;
                margin-left: 30px;
                margin-top: 30px;
                text-align: center;
                line-height: 60px;
                font-size: 24px; /*px*/
            }
            li.active{
                color: #e7566d;
                border: 1px solid #e7566d;
                background: url("../imgs/me-order/pay.png") no-repeat;
                background-size: contain;
                background-position-x: 100%;
                background-position-y: 100%;
            }
        }
        a{
            display: block;
            width: 50%;
            height: 90px;
            text-align: center;
            line-height: 90px;
            color: #fff;
        }
         a:nth-of-type(1){
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #f1b4be;
        }
        a:nth-of-type(2){
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #e7566d;
        }
    }
}
.note {
    text-align: center;
    margin-top: 3rem;
}
