body{
    background: #f5f5f5;
}

#project,#header,#center-top,#center,#center-bottom,#setting{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}
#center-top,#center,#center-bottom,#setting{margin-top: 40px;background: #fff;}
//头部
#header{
    height: 170px;
    background: #fff;
    .head{
        float: left;
        position: relative;
        left: 20px;
        top: 20px;
        width: 120px;
        height: 120px;
    }
    .me{
        width: 225px;
        margin-left: 60px;
        div{
            position: relative;
            margin-left: 100px;
        }
        div:first-child{

            margin-top: 50px;

            a{
                display: block;
                width: 20px;
                height: 27px;
            }
            span{
                position: absolute;
                top: 0;
                left: 40px;
            }
        }
        div:nth-of-type(2){
            margin-top: 20px;
            a{
                display: block;
                width: 20px;
                height: 23px;

            }
            span{
                position: absolute;
                top: 0;
                left: 40px;
            }
        }
        div:last-child{
            position: absolute;
            top: 4px;right: 0;
            a{
                display: block;
                width: 10rem;
                height: 170px;
                img{
                    position: absolute;
                    right: 0;
                    top: 45px;
                    width:66px ;
                    height: 88px;
                }
            }
        }
    }

}
//身体上部
#center-top{
    height: 150px;
    ul{
        width: 630px;
        height: 150px;
        margin-left: 70px;
        li:first-child,li:nth-of-type(2){border-right: 1px solid #dcdcdc;}
        li{
            position: relative;
            text-align: center;
            float: left;
            width: 200px;
            height: 120px;
            margin-top: 15px;
            list-style: none;

            a{
                text-align: center;
                display: block;
                margin:15px auto;
                width: 77px;
                height: 57px;
            }
            p{
                margin-top: 20px;
            }
            span.active{
                display: block;
                position: absolute;
                left: 120px;
                top: 10px;
                width: 30px;height: 30px;
                border-radius: 100%;
                line-height: 30px;
                text-align: center;
                background: #e74566;
                color: #fff;
            }
        }
    }
}
//身体中部
#center{
    height: 300px;
    ul{
        font-size: 25.78px;
        list-style: none;
        li{
            position: relative;
            height: 100px;
            line-height: 120px;
            border-bottom: 1px solid #dcdcdc;
            a:first-child{
                display: block;
                width: 40px;
                height: 40px;
                margin-left: 60px;
            }
        }
        .order{
            .all-order{
                position: absolute;
                left: 120px;
                top: -10px;
            }
        }
        .coupon,.like{
            span{
                position: absolute;
                left: 120px;
                top: -10px;
            }
        }
        .order{
            span:nth-of-type(2){
                position: absolute;
                right: 110px;
                top: -10px;
                color: #d7d7d7;
            }
        }
        .order,.coupon,.like{
            a:last-child{
                display: block;
                width: 100%;
                height: 100px;
                position: absolute;
                right: 0;
                top: 0;
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 110px;
                    height: 98px;
                }
            }
        }
    }
}
//身体下部
#center-bottom{
    height: 200px;
     ul{
         font-size: 25.78px;
        list-style: none;
        li{
            position: relative;
            height: 100px;
            line-height: 120px;
            border-bottom: 1px solid #dcdcdc;
            a:first-child{
                display: block;
                width: 40px;
                height: 40px;
                margin-left: 60px;
            }
        }
        .integral{
            .me-integral{
                position: absolute;
                left: 120px;
                top: -10px;
            }
        }
        .gift{
            .old-consumer{
                position: absolute;
                left: 120px;
                top: -10px;
            }
            span:nth-of-type(2){
                position: absolute;
                right: 110px;
                top: -10px;
                color: #d7d7d7;
            }
        }
        .integral,.gift{
            a:last-child{
                display: block;
                width: 100%;
                height: 100px;
                position: absolute;
                right: 0;
                top: 0;
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 110px;
                    height: 98px;
                }
            }
        }
    }
}
//设置
#setting{
    height: 100px;
    margin-bottom: 150px;
    ul{
        font-size: 25.78px;
        list-style: none;
        li{
            position: relative;
            height: 100px;
            line-height: 120px;
            border-bottom: 1px solid #dcdcdc;
            a:first-child{
                display: block;
                width: 40px;
                height: 40px;
                margin-left: 60px;
            }
            .set{
                position: absolute;
                left: 120px;
                top: -10px;
            }
            span:nth-of-type(2){
                position: absolute;
                right: 110px;
                top: -10px;
                color: #d7d7d7;
            }
            a:last-child{
                display: block;
                width: 100%;
                height: 100px;
                position: absolute;
                right: 0;
                top: 0;
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 110px;
                    height: 98px;
                }
            }
        }
    }
}
