ul,li{
  list-style: none;
}
img{
  vertical-align: top;
  border: none;
}

.mooncake-page{
  width: 100%;
  max-width: 750px;
  height: 3028px;
  background-size: 750px 3028px;
  background-image: url('./../imgs/mooncake-festival/bg1.png');
  margin: 0 auto;
  position: relative;
}
.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 533px;
  background-size: 100% 533px;
  background-image: url('./../imgs/mooncake-festival/top.png');
}
.mooncake-content{
  padding-top: 560px;
  .txt1{
    width: 100%;
    height: 460px;
    background-size: 100%  460px;
    background-image: url('./../imgs/mooncake-festival/txt1.png');
  }
  .txt2{
    width: 100%;
    height: 480px;
    background-size: 100%  480px;
    background-image: url('./../imgs/mooncake-festival/txt2.png');
  }
  .cake1{
    margin-top: 120px;
    margin-bottom: 110px;
    a{
      display: block;
      width: 100%;
      height: 457px;
      background-size: 100% 457px;
      background-image: url('./../imgs/mooncake-festival/cake1.png');
    }
  }
  .cake2{
    margin-top: 140px;
    a{
      display: block;
      width: 100%;
      height: 580px;
      background-size: 100% 580px;
      background-image: url('./../imgs/mooncake-festival/cake2.png');
    }
  }
}