body {
    background: #fff;
}

#layout {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: #f5f5f5;
}

#cake_list {
    background: #fff;
    .surprised{
        background: url("../imgs/shopping-cart/surprised.png") no-repeat;
        background-size: 100px 28px;
        background-position: 80px 0;
    }
    .inlife{
        background: url("../imgs/shopping-cart/inlife.png") no-repeat;
        background-size: 100px 28px;
        background-position: 80px 0;
    }
    .surprised,.inlife {
        list-style: none;

        li{
            border: 1px solid #dcdcdc;
            .vertical-reduction{
                width: 85%;
                padding-top: 40px;
                padding-left: 80px;
                display: flex;
                justify-content: space-between;
                >a:first-child{
                    display: inline-block;
                    width: 80px;
                    height: 38px;
                    text-align: center;
                    line-height: 38px;
                    border: 1px solid #e9546b;
                    color: #e9546b;
                    font-size:22px;/*px*/
                    border-radius: 5px;
                    align-self: center;
                }
                >p{
                    display: inline-block;
                    width: 85%;
                    color: #e9546b;
                    align-self: center;
                }
            }
            .parcel{
                position: relative;
                height: 220px;
                > span:nth-of-type(1) {
                    position: absolute;
                    left: 20px;
                    top: 100px;
                    width: 41px;
                    height: 41px;
                    background: url("../imgs/shopping-cart/no-like.png") no-repeat;
                    background-size: cover;

                    &.active {
                        background: url("../imgs/shopping-cart/like.png") no-repeat;
                        background-size: 40px 40px;
                    }
                }

                > a:nth-of-type(1) {
                    position: relative;
                    top: 31px;
                    left: 80px;
                    display: block;
                    width: 160px;
                    height: 160px;

                    &.active:after {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background-image: url("../imgs/shopping-cart/soldout_bg.png");
                        background-repeat: no-repeat;
                        background-size: 160px 160px;
                    }
                }

                > p:nth-of-type(1) {
                    position: absolute;
                    left: 270px;
                    top: 40px;
                    width: 100%;

                    > span:nth-of-type(1) {
                        font-family: "黑体";
                        font-size: 26px;
                    }

                    > span:nth-of-type(2) {
                        position: absolute;
                        top: 30px;
                        left: 0;
                        font-family: "黑体";
                        font-size: 14px;
                    }

                    > span:nth-of-type(3) {
                        position: absolute;
                        left: 330px;
                        top: 15px;
                        font-family: "黑体";
                        font-size: 28px;
                    }

                    > span:nth-of-type(4) {
                        display: block;
                        position: absolute;
                        right: 270px;
                        top: 14px;
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/shopping-cart/delete.png") no-repeat;
                        background-size: 26px 32px;
                    }
                }

                > p:nth-of-type(2) {
                    position: absolute;
                    left: 270px;
                    top: 100px;
                    font-size: 22px;
                    color: #b4b4b4;
                }

                > p:nth-of-type(3) {
                    position: absolute;
                    left: 270px;
                    top: 150px;
                    border: 1px solid #dcdcdc;
                    display: block;
                    width: 225px;
                    height: 40px;

                    span {
                        display: inline-block;
                    }

                    span:nth-of-type(1) {
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-right: 1px solid #dcdcdc;
                    }

                    span:nth-of-type(2) {
                        width: 140px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-right: 1px solid #dcdcdc;
                    }

                    span:nth-of-type(3) {
                        width: 40px;
                        text-align: center;
                        line-height: 40px;
                    }
                }

                a:nth-of-type(2) {
                    position: absolute;
                    right: 0;
                    top: 160px;
                    display: block;
                    width: 160px;
                    height: 50px;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    background: #e9546b;
                    border-radius: 50px 0 0 50px;

                    span:first-child {
                        position: absolute;
                        left: 17px;
                        top: 8px;
                        display: inline-block;
                        width: 33px;
                        height: 33px;
                    }

                    span:last-child {
                        margin-left: 50px;
                    font-size: 22px;/*px*/
                    }
                }
            }
        }
    }

    .convention{
        background: url("../imgs/shopping-cart/convention.png") no-repeat;
        background-size: 100px 28px;
        background-position: 80px 0;
    }
    .ali{
        background: url("../imgs/shopping-cart/ali.png") no-repeat;
        background-size: 100px 28px;
        background-position: 80px 0;
    }
    .convention,.ali {
        list-style: none;


        li {
            border: 1px solid #dcdcdc;
            .vertical-reduction{
                width: 85%;
                padding-top: 40px;
                padding-left: 80px;
                display: flex;
                justify-content: space-between;
                >a:first-child{
                    display: inline-block;
                    width: 80px;
                    height: 38px;
                    text-align: center;
                    line-height: 38px;
                    border: 1px solid #e9546b;
                    color: #e9546b;
                    font-size:22px;/*px*/
                    border-radius: 5px;
                    align-self: center;
                }
                >p{
                    display: inline-block;
                    width: 85%;
                    color: #e9546b;
                    align-self: center;
                }
            }
            .parcel{
                position: relative;
                height: 220px;
                > span:nth-of-type(1) {
                    position: absolute;
                    left: 20px;
                    top: 100px;
                    width: 40px;
                    height: 40px;
                    background: url("../imgs/shopping-cart/no-like.png") no-repeat;
                    background-size: cover;

                    &.active {
                        background: url("../imgs/shopping-cart/like.png") no-repeat;
                        background-size: 40px 40px;
                    }
                }

                > a:nth-of-type(1) {
                    position: relative;
                    top: 31px;
                    left: 80px;
                    display: block;
                    width: 160px;
                    height: 160px;

                    &.active:after {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background-image: url("../imgs/shopping-cart/soldout_bg.png");
                        background-repeat: no-repeat;
                        background-size: 160px 160px;
                    }
                }

                > a:nth-of-type(2) {
                    position: absolute;
                    right: 0;
                    top: 160px;
                    display: block;
                    width: 160px;
                    height: 50px;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    opacity: 0.5;
                    border-radius: 50px 0 0 50px;

                    > input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }

                > p:nth-of-type(1) {
                    position: absolute;
                    left: 270px;
                    top: 40px;
                    width: 100%;

                    > span:nth-of-type(1) {
                        font-family: "黑体";
                        font-size: 26px;
                    }

                    > span:nth-of-type(2) {
                        position: absolute;
                        top: 30px;
                        left: 0;
                        font-family: "黑体";
                        font-size: 14px;
                    }

                    > span:nth-of-type(3) {
                        position: absolute;
                        left: 330px;
                        top: 15px;
                        font-family: "黑体";
                        font-size: 28px;
                    }

                    > span:nth-of-type(4) {
                        display: block;
                        position: absolute;
                        right: 270px;
                        top: 14px;
                        width: 50px;
                        height: 50px;
                        background: url("../imgs/shopping-cart/delete.png") no-repeat;
                        background-size: 26px 32px;
                    }
                }

                > p:nth-of-type(2) {
                    position: absolute;
                    left: 270px;
                    top: 100px;
                    font-size: 22px;
                    color: #b4b4b4;
                }

                > p:nth-of-type(3) {
                    position: absolute;
                    left: 270px;
                    top: 150px;
                    border: 1px solid #dcdcdc;
                    display: block;
                    width: 225px;
                    height: 40px;

                    span {
                        display: inline-block;
                    }

                    span:nth-of-type(1) {
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-right: 1px solid #dcdcdc;
                    }

                    span:nth-of-type(2) {
                        width: 140px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-right: 1px solid #dcdcdc;
                    }

                    span:nth-of-type(3) {
                        width: 40px;
                        text-align: center;
                        line-height: 40px;
                    }
                }

                a:nth-of-type(2) {
                    position: absolute;
                    right: 0;
                    top: 160px;
                    display: block;
                    width: 160px;
                    height: 48px;
                    color: #e9546b;
                    text-align: center;
                    line-height: 48px;
                    border-top: 1px solid #e9546b;
                    border-left: 1px solid #e9546b;
                    border-bottom: 1px solid #e9546b;
                    border-radius: 50px 0 0 50px;
                }
            }
        }
    }
    .commodity{
        background: url("../imgs/shopping-cart/commodity.png") no-repeat;
        background-size: 100px 28px;
        background-position: 80px 0;
    }
    .customization{
        background: url("../imgs/shopping-cart/customization.png") no-repeat;
        background-size: 100px 28px;
        background-position: 80px 0;
    }
    .commodity ,.customization{
        list-style: none;


        li {
            position: relative;
            border: 1px solid #dcdcdc;
            height: 220px;

            > span:nth-of-type(1) {
                position: absolute;
                left: 20px;
                top: 100px;
                width: 41px;
                height: 41px;
                background: url("../imgs/shopping-cart/no-like.png") no-repeat;
                background-size: cover;

                &.active {
                    background: url("../imgs/shopping-cart/like.png") no-repeat;
                    background-size: cover;
                }
            }

            > a:nth-of-type(1) {
                position: relative;
                top: 31px;
                left: 80px;
                display: block;
                width: 160px;
                height: 160px;

                &.active:after {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background-image: url("../imgs/shopping-cart/soldout_bg.png");
                    background-repeat: no-repeat;
                    background-size: 160px 160px;
                }
            }

            > p:nth-of-type(1) {
                position: absolute;
                left: 270px;
                top: 40px;
                width: 100%;

                > span:nth-of-type(1) {
                    font-family: "黑体";
                    font-size: 26px;
                }

                > span:nth-of-type(2) {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    font-family: "黑体";
                    font-size: 14px;
                }

                > span:nth-of-type(3) {
                    position: absolute;
                    left: 330px;
                    top: 15px;
                    font-family: "黑体";
                    font-size: 28px;
                }

                > span:nth-of-type(4) {
                    display: block;
                    position: absolute;
                    right: 270px;
                    top: 14px;
                    width: 50px;
                    height: 50px;
                    background: url("../imgs/shopping-cart/delete.png") no-repeat;
                    background-size: 26px 32px;
                }
            }

            > p:nth-of-type(2) {
                position: absolute;
                left: 270px;
                top: 100px;
                font-size: 22px;
                color: #b4b4b4;
            }

            > p:nth-of-type(3) {
                position: absolute;
                left: 270px;
                top: 150px;
                border: 1px solid #dcdcdc;
                display: block;
                width: 225px;
                height: 40px;

                span {
                    display: inline-block;
                }

                span:nth-of-type(1) {
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-right: 1px solid #dcdcdc;
                }

                span:nth-of-type(2) {
                    width: 140px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-right: 1px solid #dcdcdc;
                }

                span:nth-of-type(3) {
                    width: 40px;
                    text-align: center;
                    line-height: 40px;
                }
            }

            a:nth-of-type(2) {
                position: absolute;
                right: 0;
                top: 160px;
                display: block;
                width: 160px;
                height: 48px;
                color: #e9546b;
                text-align: center;
                line-height: 48px;
                border-top: 1px solid #e9546b;
                border-left: 1px solid #e9546b;
                border-bottom: 1px solid #e9546b;
                border-radius: 50px 0 0 50px;
            }
        }
    }
}

.other {
    width: 100%;
    height: 100px;
    margin-top: 40px;
    background: #fff;
    border-top: 1px solid #dcdcdc;

    ul {
        list-style: none;

        li {
            float: left;
            font-size: 24px;
            width: 50%;
            height: 95px;
            text-align: center;
            line-height: 140px;

            &.active {
                color: #e9546b;
                border-bottom: 5px solid #e9546b;
            }
        }
    }
}

.swiper-container {
    background: #fff;
    height: 500px;
    margin-bottom: 250px;
}

.swiper-slide {
    width: 290px;
    background: #fff;

    > a:nth-of-type(1) {
        display: block;
        width: 290px;
        height: 290px;
    }

    div {
        width: 290px;

        p {
            text-align: center;
        }

        p:nth-of-type(1) {
            margin-top: 20px;
            font-size: 26px;
        }

        p:nth-of-type(2) {
            font-size: 14px;
            margin-top: 10px;
        }

        p:nth-of-type(3) {
            margin-top: 30px;
            color: #e9667a;
        }

        a {
            display: block;
            width: 50px;
            height: 50px;
            margin-left: 125px;
            margin-top: 15px;
        }
    }
}

.close {
    position: fixed;
    bottom: 95px;
    left: auto;
    width: 750px;
    height: 90px;
    border-top: 1px solid #dcdcdc;
    background: #fff;
    line-height: 90px;

    a:nth-of-type(1) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 90px;
        background: url('../imgs/shopping-cart/no-like.png') no-repeat;
        background-size: 41px 41px;
        background-position: 25px 25px;
    }

    a.active {
        background: url('../imgs/shopping-cart/like.png') no-repeat;
        background-size: 41px 41px;
        background-position: 25px 25px;
    }

    > span:nth-of-type(1) {
        position: absolute;
        left: 100px;
        top: 0;
        color: #d42237;
    }

    > span:nth-of-type(2) {
        position: absolute;
        left: 170px;
        top: 0;
    }

    > span:nth-of-type(3) {
        position: absolute;
        left: 340px;
        top: -7px;
        font-size: 24px;

        > span {
            color: #d42237;
        }

        span:nth-of-type(2) {
            font-size: 40px;
        }
    }

    a:nth-of-type(2) {
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        line-height: 90px;
        font-size: 30px;
        background: #e9546b;
        color: #fff;
        display: block;
        width: 230px;
        height: 90px;
    }
}

#shade {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -375px;
    display: none;
    max-width: 750px;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .7);

    .shade-list {
        width: 550px;
        height: 100%;
        background: #f2f2f2;
        position: absolute;
        top: 0;
        right: -550px;
        z-index: 9999;
        overflow: auto;

        > p:nth-of-type(1) {
            margin-top: 90px;
            margin-left: 40px;
            font-size: 24px;
            font-weight: 600;
        }

        > p:nth-of-type(2) {
            margin-top: 45px;
            margin-left: 40px;
            font-size: 24px;
            font-weight: 550;
        }

        ul:nth-of-type(1) {
            list-style: none;
            position: relative;
            height: 285px;
            margin-top: 25px;
            margin-left: 40px;
            border-bottom: 1px solid #545454;

            li {
                float: left;
                width: 140px;
                height: 60px;
                border: 1px solid #545454;
                text-align: center;
                line-height: 60px;
                margin: 20px 20px 0 0;
                border-radius: 50px;

                &.active {
                    background: #e9546b;
                    color: #fff;
                }
            }

            .last-li {
                position: absolute;
                left: 160px;
                top: 185px;
                width: 310px;
                height: 60px;
                outline: none;
                border-radius: 10px;
            }
        }

        > p:nth-of-type(3) {
            margin: 40px;
        }

        ul:nth-of-type(2) {
            position: relative;
            list-style: none;
            height: 375px;
            margin-top: 25px;
            margin-left: 40px;
            border-bottom: 1px solid #545454;

            li {
                float: left;
                width: 140px;
                height: 60px;
                border: 1px solid #545454;
                text-align: center;
                line-height: 60px;
                margin: 20px 20px 0 0;
                border-radius: 50px;

                &.active {
                    background: #e9546b;
                    color: #fff;
                }
            }

            .shade-other {
                position: absolute;
                top: 250px;
                left: 0;
            }

            .last-li {
                position: absolute;
                left: 160px;
                top: 270px;
                width: 310px;
                height: 60px;
                outline: none;
                border-radius: 10px;
            }
        }

        > p:nth-of-type(4) {
            margin: 40px;
        }

        > div:nth-of-type(1) {
            width: 470px;
            height: 155px;
            margin-left: 40px;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            margin-bottom: 80px;

            textarea {
                width: 470px;
                height: 155px;
                padding: 10px;
                outline: none;
                border: 1px solid #e6e6e6;
                border-radius: 2px;
                resize: none;
                line-height: 20px;
                border-radius: 10px;
            }

            .maxlength-feedback {
                display: block;
                text-align: right;
                color: #c8c8c8;
            }
        }

        > p:nth-of-type(5) {
            border-top: 1px solid #545454;
            width: 510px;
            margin: 40px 0 0 40px;
            line-height: 100px;
        }

        > a:nth-of-type(2) {
            display: block;
            width: 150px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            color: #dcdcdc;
            border: 2px solid #a0a0a0;
            margin-left: 200px;
            margin-top: 20px;
            border-radius: 50px;
        }

        > div:nth-of-type(2) {
            position: relative;
            width: 134px;
            height: 134px;
            margin-left: 200px;
            padding: 10px;
            background: #fff;
            overflow: hidden;

            img {
                width: 134px;
                height: 134px;
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
            }
        }

        > div:nth-of-type(3) {
            margin-top: 40px;
            width: 550px;
            height: 70px;

            > a {
                display: block;
                width: 550px;
                height: 70px;
                text-align: center;
                line-height: 70px;
                color: #fff;
                background: #ea6378;
            }
        }

        > p:nth-of-type(6) {
            font-size: 24px;
            color: #c8c8c8;
            margin-top: 10px;
            margin-left: 180px;
        }

        .delete-picture {
            display: none;
            width: 150px;
            height: 50px;
            border: 1px solid #a0a0a0;
            margin: 0 auto;
            text-align: center;
            line-height: 50px;
            color: #a5a5a5;
            border-radius: 50px;
            margin-top: 20px;
        }
    }
}

.container {
    position: fixed;
    display: none;
    top: 0;
    z-index: 9999;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

    .cropper-container {
        margin-top: 100px;
    }

    a:nth-of-type(1) {
        display: block;
        position: absolute;
        left: 20px;
        bottom: 20px;
        float: left;
        text-decoration: none;
        width: 120px;
        height: 50px;
        background: #e96378;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }

    a:nth-of-type(2) {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 120px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: #e96378;
        text-decoration: none;
    }
}

.container01 {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

    a:nth-of-type(1) {
        display: block;
        position: absolute;
        left: 20px;
        bottom: 20px;
        float: left;
        text-decoration: none;
        width: 120px;
        height: 50px;
        background: #e96378;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }

    a:nth-of-type(2) {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 120px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: #e96378;
        text-decoration: none;
    }
}

.shopping-cart {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9995;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);

    .shopping {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 445px;
        height: 280px;
        z-index: 9999;
        overflow: hidden;
        margin-left: -223px;
        margin-top: -143px;
        border-radius: 8px;
        border: 3px solid #e7566d;
        background: #fff;

        p {
            margin-left: 30px;
            margin-top: 10px;
            font-size: 26px;
        }

        p:nth-of-type(1) {
            margin-top: 50px;
        }

        a {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 445px;
            height: 70px;
            text-align: center;
            line-height: 70px;
            background: #e7566d;
            border-radius: 0 0 8px 8px;
            color: #fff;
        }
    }
}

.privilege {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .7);

    .privilege-commodity {
        width: 550px;
        height: 930px;
        background: #fff;
        position: absolute;
        top: 0;
        right: -550px;
        z-index: 9999;
        overflow: auto;

        > p:nth-of-type(1) {
            font-size: 24px;
            font-weight: bold;
            margin-top: 88px;
            margin-left: 40px;
        }

        ul {
            margin-top: 30px;
            list-style: none;

            li {
                position: relative;
                border-bottom: 1px solid #dcdcdc;
                padding: 20px;

                > span {
                    position: absolute;
                    left: 40px;
                    top: 80px;
                    width: 41px;
                    height: 41px;
                    background: url("../imgs/shopping-cart/no-like.png") no-repeat;
                    background-size: cover;

                    &.active {
                        background: url("../imgs/shopping-cart/like.png") no-repeat;
                        background-size: cover;
                    }
                }

                a {
                    display: block;
                    width: 160px;
                    height: 160px;
                    margin-left: 98px;
                }

                P:nth-of-type(1) {
                    position: absolute;
                    left: 300px;
                    top: 30px;
                    font-size: 26px;
                }

                p:nth-of-type(2) {
                    position: absolute;
                    left: 305px;
                    top: 60px;
                    font-size: 14px;
                    font-family: "黑体";
                }

                p:nth-of-type(3) {
                    position: absolute;
                    left: 300px;
                    top: 90px;
                    font-size: 22px;
                    color: #c0c0c0;
                }

                p:nth-of-type(4) {
                    position: absolute;
                    left: 475px;
                    top: 140px;
                    font-size: 28px;
                }
            }
        }

        > .btn {
            display: block;
            z-index: 9999;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 550px;
            height: 70px;
            text-align: center;
            line-height: 70px;
            color: #fff;
            font-size: 30px;
            background: #ea6378;
        }
    }
}

.picture-shade {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);

    .picture-convention{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -350px;
        width: 600px;
        height: 700px;
        border: 1px solid #e7566d;
        border-radius: 10px;
        background: url("../imgs/order-submit/image_cake_wrapper.jpg") no-repeat;
        background-size: 600px 600px;
        .picture-img-convention {
            position: absolute;
            left: 108px;
            top: 108px;
            width: 384px;
            height: 384px;
        }
        a {
            display: block;
            width: 150px;
            height: 44px;
            text-align: center;
            line-height: 44px;
            border: 1px solid #e7566d;
        }
        a:nth-of-type(1) {
            position: absolute;
            left: 130px;
            bottom: 30px;
            background-color: #e7566d;
            color: #fff;
        }
        a:nth-of-type(2) {
            position: absolute;
            left: 320px;
            bottom: 30px;
            color: #e7566d;

            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
            }
        }
    }



    .picture-love{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -350px;
        width: 600px;
        height: 700px;
        border: 1px solid #e7566d;
        border-radius: 10px;

        .picture-img-love {

            position: absolute;
            left: 0;
            top: 0;
            width: 600px;
            height: 600px;
            &:after{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 600px;
                height: 600px;
                content: '';
                background-image: url(../imgs/order-submit/adventures_cake_wrapper.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }
        a {
            display: block;
            width: 150px;
            height: 44px;
            text-align: center;
            line-height: 44px;
            border: 1px solid #e7566d;
        }
        a:nth-of-type(1) {
            position: absolute;
            left: 130px;
            bottom: 30px;
            background-color: #e7566d;
            color: #fff;
        }

        a:nth-of-type(2) {
            position: absolute;
            left: 320px;
            bottom: 30px;
            color: #e7566d;

            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.build-surprised {
    display: none;
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);

    .build {
        display: none;
    }

    .build,
    .drawing {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -223px;
        margin-top: -280px;
        width: 446px;
        height: 280px;
        border: 1px solid #e7566d;
        border-radius: 10px;
        background-color: #fff;
        overflow: hidden;

        p {
            font-size: 26px;
            margin: 10px 0 10px 30px;
        }

        p:first-child {
            margin-top: 40px;
        }

        a {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 70px;
            text-align: center;
            line-height: 70px;
            color: #fff;
            background-color: #e7566d;
        }
    }
}

.shade {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -375px;
    max-width: 750px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    .parcel {
        display: none;
        position: absolute;
        bottom: -100%;
        margin: 0 auto;
        max-width: 750px;
        width: 100%;
        height: 730px;
        background: #f2f1f1;

        .candle {
            width: 715px;
            height: 619px;
            margin: 0 auto;

            > p {
                width: 100%;
                text-align: center;
                padding: 40px 0;
                font-size: 24px;
            }

            ul:nth-child(odd) {
                margin-left: 20px;
            }

            ul {
                float: left;
                list-style: none;
                height: 70px;
                margin: 15px 0;

                li {
                    float: left;
                    margin-right: 15px;
                }

                li:nth-of-type(1) {
                    width: 70px;
                    height: 70px;
                    border: 1px solid #dcdcdc;
                }

                li:nth-of-type(2),
                li:nth-of-type(4) {
                    width: 50px;
                    height: 50px;
                    margin-top: 10px;
                }

                li:nth-of-type(2) {
                    background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                    background-size: cover;
                }

                li:nth-of-type(4) {
                    background: url("../imgs/cake-gift/add.png") no-repeat;
                    background-size: cover;
                }

                li:nth-of-type(3) {
                    width: 100px;
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    border: 1px solid #000000;
                    margin-top: 3px;
                }

                li.active {
                    width: 50px;
                    height: 50px;
                    background: url("../imgs/cake-gift/subtract.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle01 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle01.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle02 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle02.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle03 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle03.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle04 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle04.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle05 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle05.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle06 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle06.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle07 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle07.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle08 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle08.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle09 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle09.png") no-repeat;
                    background-size: cover;
                }
            }

            .candle00 {
                li:nth-of-type(1) {
                    background: url("../imgs/cake-gift/candle00.png") no-repeat;
                    background-size: cover;
                }
            }
        }

        a:nth-of-type(1) {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 50%;
            height: 90px;
            text-align: center;
            line-height: 90px;
            background: #fb657d;
            color: #fff;
            font-size: 30px;
        }

        a:nth-of-type(2) {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 50%;
            height: 90px;
            text-align: center;
            line-height: 90px;
            background: #e9546b;
            color: #fff;
            font-size: 30px;
        }
    }

    .dish {
        display: none;
        position: absolute;
        left: 50%;
        bottom: -100%;
        margin-left: -375px;
        max-width: 750px;
        width: 100%;
        background: #f2f1f1;

        p {
            text-align: center;
            padding: 40px 0;
            font-size: 24px;
        }

        ul {
            margin-left: 130px;
            list-style: none;
            padding-bottom: 120px;

            li {
                float: left;
                margin-right: 20px;
            }

            li:nth-of-type(1) {
                width: 71px;
                height: 71px;
            }

            li:nth-of-type(2) {
                width: 50px;
                height: 50px;
                background: url("../imgs/cake-gift/subtract-gray.png") no-repeat;
                background-size: cover;
                margin-top: 10px;
            }

            li:nth-of-type(3) {
                width: 240px;
                height: 55px;
                text-align: center;
                line-height: 55px;
                border: 1px solid #000;
                margin-top: 5px;
            }

            li:nth-of-type(4) {
                width: 50px;
                height: 50px;
                background: url("../imgs/cake-gift/add.png") no-repeat;
                background-size: cover;
                margin-top: 10px;
            }

            li.active {
                width: 50px;
                height: 50px;
                background: url("../imgs/cake-gift/subtract.png") no-repeat;
                background-size: cover;
            }
        }

        a:nth-of-type(1) {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 50%;
            height: 90px;
            text-align: center;
            line-height: 90px;
            background: #fb657d;
            color: #fff;
            font-size: 30px;
        }

        a:nth-of-type(2) {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 50%;
            height: 90px;
            text-align: center;
            line-height: 90px;
            background: #e9546b;
            color: #fff;
            font-size: 30px;
        }
    }
}

.no-commodity {
    display: none;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

    .commodity {
        position: relative;
        top: 300px;
        width: 100%;
        height: 400px;

        a {
            position: absolute;
            bottom: 0;
            left: 240px;
            display: block;
            width: 272px;
            height: 100px;
        }
    }
}

#tableware {
    position: relative;
}

#tableware .swiper-slide {
    position: absolute;
    left: 50%;
    margin-left: -145px;
}
