html,
body {
    width: 100%;
    height: 100%;
}

.login-page,
.page-wrapper {
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
}


.page-header {
    width: 750px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.page-container {
    width: 100%;
    background-color: #fff;
    .form-wrapper {
        width: 590px;
    	margin: 0 auto;
    	list-style-type: none;
    	padding: 10px 0;
    	&.register-form{
    		padding-top: 50px;
    	}

        li {
            width: 100%;
            height: 80px;
            margin-top: 40px;
            color: #505050;
            &.no-margin {
            	margin-top: 0;
            }
            .forget{
                margin-left: 450px;
            }
            input {
            	width: 100%;
            	height: 80px;
            	line-height: 80px;
            	text-indent: 28px;
            	border: none;
            	-webkit-appearance: none;
            	outline: none;
            	border-bottom: 1px solid #dcdcdc; /* no */
            	font-size: 30px; /* px */
            }
            >a {
            	display: inline-block;
            	font-size: 24px; /* px */
            	color: #3c78c8;
                background-color: #e9546b;
            	line-height: 80px;
        		width: 100%;
        		height: 80px;
        		color: #fff;
        		text-align: center;
        		font-size: 30px; /* px */
        		border-radius: 5px;
            }
        }
        .hint{
            height: 30px;
            text-align: right;
            color: #e9546b;
            font-size: 24px;/*px*/
            p{
                a{
                    color: #e9546b;
                }
            }
            p:nth-of-type(2){
                display: none;
            }
        }
    }
}
.shade{
    display: none;
    position: fixed;
    top: 0;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    .shade-message{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -225px;
        margin-top: -140px;
        width: 450px;
        height: 280px;
        border-radius: 10px;
        border: 1px solid #e9546b;
        background-color: #fff;
        div{
            position: absolute;
            left: 0;
            top: 0;
            width: 450px;
            height: 210px;
            background: url(../imgs/cake-card-upgrade/succeed.png) no-repeat;
            background-size: 86px 57px;
            background-position: 30px 80px;
            p{
                position: absolute;
                left: 140px;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: table;
                width: 60%;
                font-size: 26px;/*px*/
            }
        }
        a{
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 70px;
            text-align: center;
            line-height: 70px;
            color: #fff;
            font-size: 24px;/*px*/
            background-color: #e9546b;
            border-radius: 0 0 0 10px;
        }
    }
}
