<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<!-- flexible.js 建议做内联处理，请勿移动位置 -->
	<script src="assets/plugins/lib-flexible/flexible.js"></script>
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">

	<title>INCAKE | 首页</title>
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css" />
	<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/global.css" />
	<link rel="stylesheet" href="assets/css/index.css" />
	<link rel="stylesheet" href="assets/css/shopping-day.css" />
	<link rel="stylesheet" href="assets/css/promotion.css" />
	<link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
	<input type="hidden" id="userName" value="15093570141">
	<div id="project">
		<!-- 头部 -->
		<header id="idxHeader">
			<input type="hidden" name="city_id" id="cityId" value="">
			<div class="location" id="showCity">上海市</div>
			<div class="logo"></div>
			<span>股票代码:837489</span>
		</header>
		<!--轮播-->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="javascript:;" data-adtype="活动" data-adtitle="漫画时代">
		            		<img src="assets/imgs/index/banner01.png"/>
		            	</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:;" data-adtype="活动" data-adtitle="疯狂七月">
		            		<img src="assets/imgs/index/banner01.png"/>
		            	</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:;" data-adtype="活动" data-adtitle="三小时送">
		            		<img src="assets/imgs/index/banner01.png"/>
		            	</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:;" data-adtype="其他" data-adtitle="杯子蛋糕">
		            		<img src="assets/imgs/index/banner01.png"/>
		            	</a>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>

		<!--新品上架-->
		<div id="idxSection">
			<ul class="entries">
				<li class="entry entry-szone">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_szone.png" alt="">
					</a>
					<p>特惠商城</p>
				</li>
				<!-- <li class="entry entry-delivery">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_delivery.png" alt="">
					</a>
					<p>当日送</p>
				</li> -->
				<!-- <li class="entry entry-custom">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_custom.png" alt="">
					</a>
					<p>翻糖定制</p>
				</li> -->
				<li class="entry entry-hotest">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_hotest.png" alt="">
					</a>
					<p>爆款上市</p>
				</li>
				<li class="entry entry-ranking">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_ranking.png" alt="">
					</a>
					<p>人气排行</p>
				</li>
				<li class="entry entry-strawberry">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_strawberry.png" alt="">
					</a>
					<p>草莓季</p>
				</li>
				<li class="entry entry-card">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/entries/icon_card.png" alt="">
					</a>
					<p>卡券兑换</p>
				</li>
			</ul>
		</div>

		<!-- 公告 begin -->
		<div class="announcement">
			<img src="assets/imgs/index/announcement.jpg" alt="">
		</div>
		<!-- 公告 end -->

		<!--筛选遮罩-->
		<div id="idscreen">
			<a href="javascript:;" class="all">全部</a>
			<a href="javascript:;" class="love active">情人节爱阿</a>
			<div class="screen">
				<dl>
					<dt><img src="assets/imgs/index/screen.png"/></dt>
					<dd>筛选</dd>
				</dl>
			</div>
		</div>

		<!--瀑布流-->
		<div id="main" class="clearfix">
			<div class="box-left">
				<div class="box">
					<a href="javascript:;" class="img">
						<img src="assets/imgs/index/01.png"/>
					</a>
				</div>
			</div>
			<div class="box-right">
			</div>
		</div>
		<div id="loading">
			<div>
				<img src="assets/imgs/icons/loading.gif" />
			</div>
		</div>
		<script id="tplList" type="text/html">
			{{each list as item i}}
			<div class="box" data-sc="{{item.specs.sc | specFormat}}" data-regular="{{item.specs.regular | specFormat}}">
				<div class="pic">
					{{if item.sell}}
					<a href="{{item.link}}" class="box-item sell-out">
						<img class="lazy" data-original="{{item.img}}" src="assets/imgs/img_preloading.gif" class="cake-kind"/>
						<span class="collect"></span>
					</a> {{else if item.sold}}
					<a href="{{item.link}}" class="box-item sold-out">
						<img class="lazy" data-original="{{item.img}}" src="assets/imgs/img_preloading.gif" class="cake-kind"/>
						<span class="collect"></span>
					</a> {{else}}
					<a href="{{item.link}}" class="box-item">
						<img class="lazy" data-original="{{item.img}}" src="assets/imgs/img_preloading.gif" class="cake-kind"/>
						<span class="collect"></span>
					</a> {{/if}}
					<div class="box-text">
						<p class="change">{{item.name.cn}}</p>
						<p class="label">{{item.name.en}}</p>
						<p class="price">
							{{if item.oldPrice}}
							<span class="old-price">￥{{item.oldPrice}}</span>
							{{/if}}
							<span class="span-price">￥{{item.price}}</span> <span>/ {{item.pound}}</span></p>
						<a href="{{item.textlink}}" class="icon-add">
							<img src="{{item.textimg}}"/>
						</a>
					</div>
				</div>
			</div>
			{{/each}}
		</script>


		<!--筛选-->
		<div id="shade">
			<div class="list">
				<div class="list-one">
					<p>商品</p>
					<ul>
						<li><a href="javascript:;" class="own">全部</a></li>
					</ul>
				</div>
				<div class="list-two">
					<p>口味</p>
					<ul>
						<li><a href="javascript:;" class="kind">芝士系列</a></li>
						<li><a href="javascript:;" class="kind">巧克力系列</a></li>
						<li><a href="javascript:;" class="kind">拿破仑系列</a></li>
						<li><a href="javascript:;" class="kind">慕斯系列</a></li>
						<li><a href="javascript:;" class="kind">乳脂系列</a></li>
						<li><a href="javascript:;" class="kind">选拼系列</a></li>
						<li><a href="javascript:;" class="kind">定制蛋糕</a></li>
						<li><a href="javascript:;" class="kind">翻糖订制</a></li>
						<li><a href="javascript:;" class="kind">星座系列</a></li>
						<li><a href="javascript:;" class="kind">阿狸系列</a></li>
					</ul>
				</div>
				<div class="list-three">
					<p>更多</p>
					<ul>
						<li><a href="javascript:;" class="kind">星座</a></li>
						<li><a href="javascript:;" class="kind">水果</a></li>
						<li><a href="javascript:;" class="loves kind">情人节</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--城市定位-->
		<div class="city-shade">
			<div class="city">
				<div class="city-one">
					<h4>请选择配送城市</h4>
					<p>当前城市：<a href="jvavascript:;" class="citySelected">上海</a></p>
				</div>
				<div class="city-two">
					<ul class="clearfix">
						<li><a href="javascript:;">北京市</a></li>
						<li><a href="javascript:;">南京市</a></li>
						<li><a href="javascript:;">杭州市</a></li>
						<li><a href="javascript:;">青岛市</a></li>
						<li><a href="javascript:;">扬州市</a></li>
						<li><a href="javascript:;">福州市</a></li>
						<li><a href="javascript:;">苏州市</a></li>
						<li><a href="javascript:;">昆山市</a></li>
						<li><a href="javascript:;">厦门市</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 城市是否切换弹框 -->
		<div class="city-switchover">
			<div class="switchover">
				<div>
					<p>当前定位城市是上海，是否切换</p>
				</div>
				<a href="javascript:;">取消</a>
				<a href="javascript:;">确定</a>
			</div>
		</div>
		<!--底部-->
		<div id="navbar">
			<a href="javascript:;" class="link">
				<div class="home active"></div>
			</a>
			<a href="shopping-cart.html" class="link">
				<div class="shopping-basket"></div>
			</a>
			<a href="me.html" class="link">
				<div class="mine"></div>
			</a>
		</div>

		<!--蛋糕规则弹框-->
		<div class="norms-shade" id="normsShade">

		</div>

		<script id="tplNormsShade" type="text/html">
			<div class="norms">
				<input type="hidden" class="hid_name" name="" value="">
				{{if sc.length > 0}}
				<ul class="clearfix headline">
					<li id="surprised" class="active">惊喜款</li>
					<li id="normal">常规款</li>
				</ul>
				{{else}}
				<ul class="clearfix headline no-sc">
					<li id="normal" class="active" disabled="disabled">常规款</li>
				</ul>
				{{/if}}
				<div class="parcel">
					{{if sc.length > 0}}
					<div class="surprised spec-box">
						<ul class="clearfix poundage-surprised item-rule">
							{{each sc as sitem sidx}} {{if sidx === 0}}
							<li data-comment="{{sitem.comment | commentFormat}}" data-prices="{{sitem.price}}" class="active">{{sitem.pound}}磅</li>
							{{else}}
							<li data-comment="{{sitem.comment | commentFormat}}" data-prices="{{sitem.price}}">{{sitem.pound}}磅</li>
							{{/if}} {{/each}}
						</ul>
						<ul class="clearfix pound-surprised">
							{{each sc[0].comment as comment cidx}}
							<li>{{comment}}</li>
							{{/each}}
						</ul>
						<ul class="clearfix">
							<li>数量</li>
							<li class="subtract-surprised"></li>
							<li class="number_en number-surprised">1</li>
							<li class="cost">189</li>
							<li class="add-surprised"></li>
						</ul>
					</div>
					{{/if}} {{if regular.length > 0}}
					<div class="normal spec-box">
						<ul class="clearfix poundage-normal item-rule">
							{{each regular as ritem ridx}} {{if ridx === 0}}
							<li data-comment="{{ritem.comment | commentFormat}}" data-prices="{{ritem.price}}" class="active">{{ritem.pound}}磅</li>
							{{else}}
							<li data-comment="{{ritem.comment | commentFormat}}" data-prices="{{ritem.price}}">{{ritem.pound}}磅</li>
							{{/if}} {{/each}}
						</ul>
						<ul class="clearfix pound-normal">
							{{each regular[0].comment as comment cidx}}
							<li>{{comment}}</li>
							{{/each}}
						</ul>
						<ul class="clearfix">
							<li>数量</li>
							<li class="subtract-normal"></li>
							<li class="number_en number-normal">1</li>
							<li class="prices">189</li>
							<li class="add-normal"></li>
						</ul>
					</div>
					{{/if}}
				</div>
				<a href="javascript:;" class="add-shop">立即购买</a>
				<a href="javascript:;" class="buy">加入购物车</a>
				<span class="close"></span>
			</div>
		</script>
	</div>
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
			.script('assets/plugins/artTemplate/dist/template.js').wait()
			.script('assets/plugins/jquery/jquery-3.1.1.min.js').wait()
			.script('assets/plugins/underscore/underscore-min.js').wait()
			.script('assets/plugins/lazyload/lazyload.transpiled.min.js').wait()
			.script('assets/plugins/swiper/js/swiper.min.js').wait()
			.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
			.script('assets/js/common.js').wait()
			.script('assets/js/index.js');
	</script>
</body>


</html>
