<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<!-- flexible.js 建议做内联处理，请勿移动位置 -->
	<script src="assets/plugins/lib-flexible/flexible.js"></script>
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">

	<title>INCAKE | 订单提交</title>
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css" />
	<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="assets/plugins/cropper/cropper.css" />
	<link rel="stylesheet" href="assets/plugins/iosselect/iosSelect.css">
	<link rel="stylesheet" type="text/css" href="assets/css/global.css" />
	<link rel="stylesheet" href="assets/css/order-submit.css" />
	<link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
	<div id="layout">
		<input type="hidden" id="userName" value="15093570141">

		<!--蛋糕款式-->
		<div id="cake_list" class="clearfix">
			<!--惊喜款-->
			<ul class="surprised" id="surprised-ul">
			</ul>
			<script id="tplSurprise" type="text/html">
				{{each list as item i}}
				<li class="item" data-style="惊喜款" data-name="{{item.name.cn}}" data-price="{{item.cost}}" data-size="{{item.poundage}}" data-amount="1">
					{{if item.motherDay}}
					<div class="vertical-reduction clearfix">
						<a href="javascript:;">立减</a>
						<p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
						<a href="javascript:;"class="active">参与活动</a>
					</div>
					{{/if}}
					<div class="parcel">
						<a href="{{item.link}}"><img src="{{item.img}}"/></a>
						<p><span>{{item.name.cn}}</span><span>{{item.name.en}}</span><span>{{item.cost}}</span></p>
						<p>规格：￥<span>{{item.cost}}</span>/<span>{{item.poundage}}</span>磅</p>
						<p>数量：<span>1</span></p>
						<p>
							{{each item.attrs as attr}}
							<span>{{attr}}&nbsp;</span> {{/each}}
						</p>
						<a href="{{item.link}}" class="surprise">惊喜</a>
						{{if item.motherDay}}
						<a href="{{item.link}}" class="mother">母亲节</a>
						{{/if}}
					</div>

				</li>
				{{/each}}
			</script>
			<!--常规款-->
			<ul class="convention" id="convention-ul">
			</ul>
			<script id="tplConvention" type="text/html">
				{{each list as item i}}
				<li class="item" data-style="常规款" data-name="{{item.name.cn}}" data-price="{{item.cost}}" data-size="{{item.poundage}}" data-amount="1">
					{{if item.motherDay}}
					<div class="vertical-reduction">
						<a href="javascript:;">立减</a>
						<p>温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示</p>
						<a href="javascript:;" class="active">参与活动</a>
					</div>
					{{/if}}
					<div class="parcel">
						<a href="{{item.link}}"><img src="{{item.img}}"/></a>
						<p><span>{{item.name.cn}}</span><span>{{item.name.en}}</span><span>{{item.cost}}</span></p>
						<p>规格：￥<span>{{item.cost}}</span>/<span>{{item.poundage}}</span>磅</p>
						{{if item.drawing}}
						<a href="{{item.link}}" class="drawing">预览</a>
						{{/if}} {{if item.mother}}
						<a href="{{item.link}}" class="mother">母亲节</a>
						{{/if}}
					</div>
				</li>
				{{/each}}
			</script>

			<!--小商品-->
			<ul class="commodity" id="commodity-ul"></ul>
			<script id="tplCommodity" type="text/html">
				{{each list as item i}}
				<li class="item" data-style="小商品" data-name="{{item.name.cn}}" data-price="{{item.cost}}" data-size="{{item.poundage}}" data-amount="1">
					<a href="{{item.link}}"><img src="{{item.img}}"/></a>
					<p><span>{{item.name.cn}}</span><span>{{item.name.en}}</span><span>{{item.cost}}</span></p>
					<p>规格：￥<span>{{item.cost}}</span>/<span>{{item.poundage}}</span>磅</p>
				</li>
				{{/each}}
			</script>
		</div>

		<!--添加地址-->
		<div class="address">
			<div class="none">
				<a href="javascript:;">请填写新的收获地址</a>
			</div>
			<div class="have">
				<p><span>张三</span>
					<sapn>13322222222</sapn>
				</p>
				<p><span>上海市</span> <span>静安区</span><span> 广中西路777弄99号506室</span></p>
			</div>
			<a href="javascript:;"></a>
		</div>
		<div class="warm-hint">
			<div>
				<p>温馨提示： 若您有事外出不方便收花，收花日期可往后延期，请至少<b>提前3天</b>联系我们为您暂停（与截单时间一致），临时要求请恕无法安排。</p>
				<div class="clearfix">
					<a href="javascript:;"><img src="assets/imgs/order-submit/horologe.png" alt=""></a>
					<div>
						<p>［ 周一收花］ 请于周五16:00前下单</p>
						<p>［ 周六收花］ 请于周三16:00前下单</p>
					</div>
				</div>
			</div>
		</div>

		<!--送达时间-->
		<div class="time time-shade" id="select_contact">
			<span class="text">送达时间</span>

			<div class="showTime">
				<input type="hidden" id="timeId">
				<span id="showTime">请选择</span>
			</div>
			<div class="showDate">
				<input type="hidden" id="dateId">
				<span id="showDate">请选择配送日期</span>
			</div>
					<!--<input type="hidden" name="contact_province_code" data-id="0001" id="contact_province_code" value="" data-province-name="">-->
					<!--<input type="hidden" name="contact_city_code" id="contact_city_code" value="" data-city-name="">-->
					<!--<spacitn class="data" data-y-code="510100" data-province-code="510000" data-district-code="510105" id="show_contact">请选择</span>-->

		</div>

		<!--蛋糕卡-->
		<div class="cakeCard">
			<a herf="javascript:;">蛋糕卡<span>请选择</span></a>
		</div>

		<!-- 向阳卡 -->
		<div class="sunnyCard">
			<a herf="javascript:;">向阳印克卡券<span>请选择</span></a>
		</div>

		<!--优惠券-->
		<div class="discount-coupon">
			<a herf="javascript:;">优惠券/码<span>请选择</span></a>
		</div>

		<!--支付方式-->
		<div class="pay-method">
			<a herf="javascript:;">支付方式
				<span  class="btn btn-payment" id="btnPayment" paytype="wechat">不需要</span>
			</a>
		</div>

		<!--发票-->
		<div class="bill">
			<a herf="javascript:;">发票
					<input type="hidden"  id="billId" value="">
					<span id="showbill">不需要</span>
				</a>
			<div class="bill-privately">
				<p><span>发票类型:</span><input type="text" name="" placeholder="普通发票" disabled></p>
				<p><span>发票内容:</span>
					<select>
						<option value="">蛋糕</option>
						<option value="">蛋糕</option>
						<option value="">蛋糕</option>
						<option value="">蛋糕</option>
						<option value="">蛋糕</option>
					</select>
				</p>
			</div>
			<div class="bill-company">
				<p><span>公司名称:</span><input type="text" placeholder="请输入公司的全称" /></p>
				<p><span>纳税人识别号:</span><input type="text" placeholder="纳税人识别号" /></p>
				<p><span>发票类型:</span>
					<select>
							<option value="">普通发票</option>
						</select>
				</p>
				<p><span>发票内容:</span>
					<select>
							<option value="">蛋糕</option>
						</select>
				</p>
			</div>
		</div>

		<!--生日牌-->
		<div class="birthday">
			<a herf="javascript:;" class="pc-box">生日牌
					<input type="hidden" name="birthday_id" id="birthdayId" value="">
					<span id="showbirthday">不需要</span>
				</a>
			<div class="birthday-write">
				<input type="text" placeholder="生日牌可输入10个汉字或20个字母" />
			</div>
		</div>

		<!--生日贺卡-->
		<div class="birthday-card">
			<a herf="javascript:;">生日贺卡
					<input type="hidden" name="birthday_id" id="birthdayinput" value="">
					<span id="birthdayCard">不需要</span>
				</a>
			<div class="birthday-card-write">
				<textarea name="" placeholder="生日贺卡可输入50字" class="birthdayWrite"></textarea>
			</div>
		</div>

		<!--订单备注-->
		<div class="order-comment">
			<a herf="javascript:;">订单备注
					<input type="hidden" name="birthday_id" id="orderComment" value="">
					<span id="orderComment-span">不需要</span>
				</a>
			<div class="order-comment-write">
				<textarea placeholder="给INCAKE留言" class="orderWrite"></textarea>
			</div>
		</div>

		<!--订单信息-->
		<div class="order-information">
			<p><span>商品总金额:￥</span><span class="s-total" id="totalPrice">288</span></p>
			<p><span>优惠券:￥</span><span class="s-coupon" id="coupons">30.00</span></p>
			<p><span>蛋糕卡:￥</span><span class="s-card" id="cakeCard">0.00</span></p>
			<p><span>促销:￥</span><span class="s-sales" id="salesPromotion">0.00</span></p>
			<p><span>补差价:￥</span><span class="s-difference" id="senders">0.00</span></p>
			<p><span>运费:￥</span><span class="s-freight" id="freight">0.00</span></p>
		</div>

		<!--去结算-->
		<div class="closes">
			<span>共<span><span>￥</span><span class="s-money" id="cashPay">189</span>.00</span>
			</span>
			<a href="javascript:;" class="closing" id="submitOrder">去结算</a>
		</div>

		<!--画影-->
		<div class="picture-shade">
			<div class="picture">
				<div class="picture-img">
					<img src="assets/imgs/order-submit/head.png" class="imagesrc" />
				</div>
			</div>
			<div class="picture-love">
				<div class="picture-img-love">
					<img src="assets/imgs/order-submit/head.png" class="imagesrc-love" />
				</div>
			</div>
		</div>

		<!--图片裁剪-->
		<div class="container">
			<div class="img-container">
				<img id="image" src="assets/imgs/shopping-cart/head.png" //>
			</div>
			<a href="javascript:;" class="reupload-image">取消</a>
			<a href="javascript:;" class="tailor">完成</a>
		</div>

		<!--母亲节弹框-->
		<div class="mother-shade">
			<div class="mother-popup">
				<a href="javascript:;" class="mother-delate"></a>
				<textarea class="mother-word" name="" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
				<a href="javascript:;" class="mother-confirm">确认</a>
			</div>
		</div>

		<!--升级弹框-->
		<div class="upgrade-shade">
			<div class="upgrade-popup">
				<a href="javascript:;" class="upgrade-delate"></a>
				<p>亲，你选择的是惊喜款蛋糕，需要将常<br/>规兑换卡升级成惊喜卡才可以支付哦！</p>
				<a href="javascript:;">不升级,改用其他支付</a>
				<a href="javascript:;">升级</a>
			</div>
		</div>

		<!--查看惊喜弹框-->
		<div class="surprised-shade">
			<div class="surprised-popup">
				<p>想要给惊喜（<span>朋友</span>）</p>
				<p>想在（<span>生日/祝寿</span>）场景下给Ta惊喜</p>
				<div class="surprised-comment">
					<span>备注：</span>
					<div>
						非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容非真正内容
					</div>
				</div>
				<span>照片:</span>
				<a href="javascript:;"><img src="assets/imgs/order-submit/head.png"/></a>
				<a href="javascript:;" class="surprised-confirm">确定</a>
			</div>
		</div>
		<!--优惠券弹框-->
		<div class="discount-shade">
			<div class="discount-popup">
				<p>优惠券:</p>
				<ul class="clearfix" id="discount-ul"></ul>
				<script id="tplDiscount" type="text/html">
					{{each list as item i}} {{if item.active}}
					<li class="active">
						<p>蛋糕<span>{{item.cost}}</span>元优惠券</p>
						<a href="javascript:;"></a>
					</li>
					{{/if}}
					<li>
						<p>蛋糕<span>{{item.cost}}</span>元优惠券</p>
						<a href="javascript:;"></a>
					</li>
					{{/each}}
				</script>
				<p>优惠码:</p>
				<ul>
					<li><input type="text" placeholder="优惠券/团购券编号/建行热购卡会员号" /></li>
					<li><a href="javascript:;">点击验证</a></li>
				</ul>
				<a href="javascript:;" class="popup-confirm">确&nbsp;&nbsp;定</a>
			</div>
		</div>

		<!--添加地址-->
		<div class="address-shade">
			<div id="address-div">
				<ul>
					<li class="active">
						<a href="javascript:;"></a>
						<div>
							<p><span>张三</span>&nbsp;&nbsp;<span>13703399999</span></p>
							<p>[默认]上海市静安区广中西路777弄99号506室上海市静安区广中西路777弄99号506室上海市静安区广中西路777弄99号506室</p>
						</div>
						<a href="javascript:;" class="amend"></a>
					</li>
					<li>
						<a href="javascript:;"></a>
						<div>
							<p><span>张三</span>&nbsp;&nbsp;<span>13703399999</span></p>
							<p>[默认]上海市静安区广中西路777弄99号506室</p>
						</div>
						<a href="javascript:;" class="amend"></a>
					</li>
					<li>
						<a href="javascript:;"></a>
						<div>
							<p><span>张三</span>&nbsp;&nbsp;<span>13703399999</span></p>
							<p>[默认]上海市静安区广中西路777弄99号506室</p>
						</div>
						<a href="javascript:;" class="amend"></a>
					</li>
					<li>
						<a href="javascript:;"></a>
						<div>
							<p><span>张三</span>&nbsp;&nbsp;<span>13703399999</span></p>
							<p>[默认]上海市静安区广中西路777弄99号506室</p>
						</div>
						<a href="javascript:;" class="amend"></a>
					</li>
					<li>
						<a href="javascript:;"></a>
						<div>
							<p><span>张三</span>&nbsp;&nbsp;<span>13703399999</span></p>
							<p>[默认]上海市静安区广中西路777弄99号506室</p>
						</div>
						<a href="javascript:;" class="amend"></a>
					</li>

				</ul>
			</div>
			<div id="add-address">
				<a href="javascript:;">添加新的收货地址</a>
			</div>
		</div>

		<!--修改地址-->
		<div class="add-address-layout">
			<div id="add-address-head">
				<ul>
					<li>
						<!-- <span>收货人</span> -->
						<input class="inp" type="text" placeholder="请输入收货人姓名" value="" />
					</li>
					<li>
						<!-- <span>移动电话</span> -->
						<input class="inp" type="text" placeholder="请输入收货人手机号码" value="" />
					</li>
					<li>
						<!-- <span>固定电话</span> -->
						<input class="inp" type="text" placeholder="请输入收货人固定电话" value="" />
					</li>
				</ul>
			</div>
			<div class="form-item item-line" id="selectContact">
				<div class="pc-box">
					<input type="hidden" name="contact_province_code" data-id="0001" id="contact_province_code" value="" data-province-name="">
					<input type="hidden" name="contact_city_code" id="contact_city_code" value="" data-city-name="">
					<span class="data" data-city-code="510100" data-province-code="510000" data-district-code="510105" id="showContact"><span>四川省</span> <span>成都市</span> <span>青羊区</span></span>
				</div>
			</div>
			<div class="address">
				<!-- <span>详细地址</span> -->
				<input type="text" placeholder="请输入收货人详细地址" />
				<ul class="search-addrlist">
					<li>江裕大厦</li>
				</ul>
			</div>
			<div class="address-ext">
				<input type="text" placeholder="请输入门牌号">
			</div>
			<div id="center">
				<ul class="clearfix">
					<li class="delivery-area">
						<a href="javascript:;">查看配送范围</a>
					</li>
					<li class="default-address">
						<a href="javascript:;" class="active">设为默认地址</a>
					</li>
				</ul>
			</div>
			<div class="footer">
				<a href="javascript:;">提交</a>
			</div>

			<!-- 地址不在配送范围提示框 -->
			<div class="out-service-tip">
				<div class="out-service">
					<p>对不起，您选择的地址不在配送范围内，请重新选择！</p>
					<a href="javascript:;" class="btn-confirm">确定</a>
				</div>
			</div>

			<!-- 地址与选择的不匹配提示框 -->
			<div class="unmatch-tip">
				<div class="unmatch">
					<p>您填入的地址与下拉框中的不一致，是否将下拉框中的地址切换到您选择的地址？</p>
					<div class="btns clearfix">
						<a href="javascript:;" class="btn-cancel">取消</a>
						<a href="javascript:;" class="btn-switch">确认切换</a>
					</div>
				</div>
			</div>

		</div>


		<!--支付方式-->
		<div class="payment-popup">
			<div class="action-sheet" id="paymentAction">
				<div class="action-header">
					<p class="title">选择支付方式</p>
					<a href="javascript:;" class="btn-cancel">取消</a>
					<a href="javascript:;" class="btn-ok">确定</a>
				</div>
				<div class="action-container">
					<ul class="list">
						<li paytype="wechat" class="active">
							<p class="name">微信支付</p>
							<!-- <p class="note">微信支付立享9折</p> -->
						</li>
						<li paytype="alipay">
							<p class="name">支付宝(不支持)</p>
							<!-- <p class="note">支付宝支付立享9折</p> -->
						</li>
						<li paytype="99bill">
							<p class="name">快钱</p>
							<!-- <p class="note">快钱支付立享9折</p> -->
						</li>
						<li paytype="e-card">
							<p class="name">锦江e卡通</p>
							<!-- <p class="note">锦江e卡通支付立享9折</p> -->
						</li>
						<li paytype="cmb">
							<p class="name">招商银行</p>
							<!-- <p class="note">招商银行支付立享9折</p> -->
						</li>
						<li paytype="cash">
							<p class="name">货到付款</p>
							<!-- <p class="note">货到付款不享9折优惠</p> -->
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--蛋糕卡-->
		<div class="cake-card">
			<div class="cake-card-wrapper">
				<div class="cake-card-payShow">
					<p><span>蛋糕卡</span><span class="cake-complete">完成</span></p>
					<ul class="cake-add clearfix">
						<li>12345<span></span></li>
						<li>12345<span></span></li>
					</ul>
					<ul class="clearfix">
						<li><input class="cake-number" type="text" placeholder="请输入蛋糕卡ID的后5位" /></li>
						<li><input type="text" placeholder="请输入蛋糕卡密码" /><a class="cake-conversion" href="javascript:;">兑换</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 向阳印克卡券 -->
		<div class="sunny-card">
			<div class="sunny-card-wrapper">
				<div class="sunny-card-payShow">
					<p><span>向阳印克卡券</span><span class="sunny-complete">完成</span></p>
					<ul class="sunny-add clearfix">
						<li>ID:<span>1265646785</span><span>余额: <span>￥256</span></span><span class="delete-card"></span></li>
						<li>ID:<span>1265646785</span><span>余额: <span>￥256</span></span><span class="delete-card"></span></li>
					</ul>
					<ul class="clearfix">
						<li><input class="sunny-number" type="text" placeholder="请输入蛋糕卡ID的后5位" /></li>
						<li><input type="text" placeholder="请输入蛋糕卡密码" /><a class="sunny-conversion" href="javascript:;">兑换</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--蛋糕卡错误提示-->
		<div class="cake-card-error">
			<div class="error-hint">
				<p>亲，你的蛋糕卡不可用。如有疑问，</p>
				<p>请联系客服 <span>4000 921 5757</span></p>
				<a href="javascript:;">拨打</a>
				<a href="javascript:;">确定</a>
			</div>
		</div>

		<div class="shade-activity">
			<dvi class="activity">
				<div>
					<p>注意哟，参与本活动后，<span>此订单</span>不可再使用其它优惠卡券。</p>
				</div>
				<a href="javascript:;">再考虑一下</a>
				<a href="javascript:;">参与活动</a>
			</dvi>
		</div>
	</div>


</body>
<script src="assets/plugins/LABjs/LAB.min.js"></script>
<script>
	$LAB
		.script('assets/plugins/artTemplate/dist/template.js').wait()
		.script('assets/plugins/jquery/jquery-3.1.1.min.js').wait()
		.script('http://webapi.amap.com/maps?v=1.4.2&key=f1a4aa23d069fbed3ce31f2304266313').wait()
		.script('assets/plugins/swiper/js/swiper.min.js').wait()
		.script('assets/plugins/underscore/underscore-min.js').wait()
		.script('assets/plugins/maxlength/jquery.plugin.min.js').wait()
		.script('assets/plugins/maxlength/jquery.maxlength.min.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/iosselect/adaptive.js').wait()
		.script('assets/plugins/iosselect/iscroll.js').wait()
		.script('assets/plugins/iosselect/iosSelect.js').wait()
		.script('assets/plugins/cropper/cropper.js').wait()
		.script('assets/plugins/iosselect/areaData_v2.js').wait()
		.script('assets/js/birthdaydata.js').wait()
		.script('assets/js/timedata.js').wait()
		.script('assets/js/common.js').wait()
		// .script('assets/js/fninitrxordersubmit.js').wait()
		.script('assets/js/deliveryTimeJson.js').wait()
		.script('assets/js/order-submit.js');
</script>

</html>
