<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<title>INCAKE | 特惠商城</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css" />
	<link rel="stylesheet" href="assets/css/global.css" />
	<link rel="stylesheet" href="assets/css/szone.css" />
	<!-- flexible.js 建议做内联处理，请勿移动位置 -->
	<script src="assets/plugins/lib-flexible/flexible.js"></script>
</head>

<body>

  <!-- szone page begin -->
  <div class="page szone-page" id="szonePage">
    <div class="page-container">

      <!-- banner begin -->
      <div class="szone-banner">
        <img src="assets/imgs/szone/banner.jpg" alt="">
      </div>
      <!-- banner end -->

      <!-- body begin -->
      <div class="szone-container">

        <!-- 蛋糕类 begin -->
        <div class="category">
          <div class="category-title cake"></div>
          <div class="category-content" id="cakeCategory"></div>
        </div>
        <!-- 蛋糕类 end -->

        <!-- 下午茶 begin -->
        <div class="category" id="teaCategory"></div>
        <!-- 下午茶 end -->

      </div>
      <!-- body end -->

      <!-- rule begin -->
      <div class="szone-rule">
        <dl>
          <dt>活动规则</dt>
          <dd>1. 可配送城市：上海、北京、福州、苏州、厦门、南京、杭州、宁波、青岛、扬州、镇江、无锡（产品请详见各地官网，如当地没有此款产品则不参加特惠活动）</dd>
          <dd>2. 本活动不可使用代金卡，不与其他优惠同享</dd>
        </dl>
      </div>
      <!-- rule end -->

      <!-- 新品列表模板 begin -->
      <script id="tplListNew" type="text/html">
        {{if list.length > 0}}
        <div class="section">
          <div class="section-title new"></div>
          <!-- 新品列表 begin -->
          <ul class="section-content clearfix">
            {{each list as item i}}
            <li class="cake">
              <a class="img" href="{{item.link}}">
                <img src="{{item.img}}">
              </a>
              <div class="text">
                <div class="name">
                  <p class="cn">{{item.name.cn}}</p>
                  <p class="en">{{item.name.en}}</p>
                </div>
                {{each item.units as unit j}}
                <div class="unit-price">
                  <p class="current">
                    <span class="price"><i>￥</i>{{unit.currentPrice}}</span>
                    <span class="pound">/{{unit.pound}}</span>
                  </p>
                  <p class="original">￥{{unit.originalPrice}}/{{unit.pound}}</p>
                </div>
                {{/each}}
              </div>
              <a href="{{item.link}}" class="btn-buy">立即购买</a>
            </li>
            {{/each}}
          </ul>
          <!-- 新品列表 end -->
        </div>
        {{/if}}
      </script>
      <!-- 新品列表模板 end -->

      <!-- 热卖列表模板 begin -->
      <script id="tplListHot" type="text/html">
        {{if list.length > 0}}
        <div class="section">
          <div class="section-title hot"></div>
          <!-- 热卖列表 begin -->
          <ul class="section-content clearfix">
            {{each list as item i}}
            <li class="cake">
              <a class="img" href="{{item.link}}">
                <img src="{{item.img}}">
              </a>
              <div class="text">
                <div class="name">
                  <p class="cn">{{item.name.cn}}</p>
                  <p class="en">{{item.name.en}}</p>
                </div>
                {{each item.units as unit j}}
                <div class="unit-price">
                  <p class="current">
                    <span class="price"><i>￥</i>{{unit.currentPrice}}</span>
                    <span class="pound">/{{unit.pound}}</span>
                  </p>
                  <p class="original">￥{{unit.originalPrice}}/{{unit.pound}}</p>
                </div>
                {{/each}}
              </div>
              <a href="{{item.link}}" class="btn-buy">立即购买</a>
            </li>
            {{/each}}
          </ul>
          <!-- 热卖列表 end -->
        </div>
        {{/if}}
      </script>
      <!-- 热卖列表模板 end -->

      <!-- 下午茶列表模板 begin -->
      <script id="tplListTea" type="text/html">
        {{if list.length > 0}}
        <div class="category-title tea"></div>
        <div class="category-content">
          <div class="section">
            <!-- 下午茶列表 begin -->
            <ul class="section-content clearfix" id="teaList">
              {{each list as item i}}
              <li class="cake">
                <a class="img" href="{{item.link}}">
                  <img src="{{item.img}}">
                </a>
                <div class="text">
                  <div class="name">
                    <p class="cn">{{item.name.cn}}</p>
                    <p class="en">{{item.name.en}}</p>
                  </div>
                  {{each item.units as unit j}}
                  <div class="unit-price">
                    <p class="current">
                      <span class="price"><i>￥</i>{{unit.currentPrice}}</span>
                      <span class="pound">/{{unit.pound}}</span>
                    </p>
                    <p class="original">￥{{unit.originalPrice}}/{{unit.pound}}</p>
                  </div>
                  {{/each}}
                </div>
                <a href="{{item.link}}" class="btn-buy">立即购买</a>
              </li>
              {{/each}}
            </ul>
            <!-- 下午茶列表 end -->
          </div>
        </div>
        {{/if}}
      </script>
      <!-- 下午茶列表模板 end -->

    </div>
  </div>
  <!-- szone page end -->

  <!-- loading scripts -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
			.script('assets/plugins/jquery/jquery-3.1.1.min.js').wait()
			.script('assets/plugins/artTemplate/dist/template.js').wait()
			.script('assets/plugins/underscore/underscore-min.js').wait()
			.script('assets/js/common.js').wait()
			.script('assets/js/szone.js');
	</script>
</body>

</html>
